[2022-07-26 20:08] #1757 closed

[2022-07-27 08:58] #1789 closed

[2022-07-27 10:26] #1775 closed

[2022-07-27 11:11] noamzbr opened #1836 "[FEAT] Prediction drift on probabilities for vision data"
Modify the prediction drift in vision to match what was done in tabular here https://github.com/deepchecks/deepchecks/issues/1775

[2022-07-27 13:09] Nadav-Barak commented on #1830
Also considered doing that, @ItayGabbay had a strong argument against

[2022-07-27 13:15] Nadav-Barak commented on #1702
Do some correlation functions return NaN if some but not all pairwise values are NaN? not sure that is a good default behaviour

[2022-07-27 13:20] #1825 closed

[2022-07-27 13:21] #1596 closed

[2022-07-27 14:12] #1767 closed

[2022-07-28 08:32] #1769 closed

[2022-07-28 11:59] TheSolY commented on #1753
After some implementation attempts and discussion, it was decided that:
1. vision_properties will not be a field of VisionData
2. The properties cache will be a dict of structure: {sample_index: {property_input_type:{property: value}}
3. check.run will accept optional precalculated properties as parameters by input type: train_image_properties, test_image_properties, train_label_properties etc., i

[2022-07-28 13:05] nirhutnik opened #1841 "Train-test change in Nones"
Create check that measures the difference in Nones for each column between train and test.
Create condition on that value.

[2022-07-28 13:07] nirhutnik opened #1842 "Categorical None handling for drift"
1. Fix drift - Cramer's V and PSI should both have the same behavior towards Nones
2. Add flag to decide whether to check drift on Nones or not for categoricals
3. Add tests

[2022-07-28 17:39] #1842 closed

[2022-07-28 18:16] shir22 opened #1845 "[BUG] Irrelevant " please import from `deepchecks.tabular` instead" warning"
**Describe the bug**
When importing a suite from tabular, the warning is raised (unnecessarily...)

<img width="1268" alt="CleanShot 2022-07-28 at 21 14 43@2x" src="https://user-images.githubusercontent.com/33841818/181608591-f503cc6c-305d-41c8-8bc5-8ff4ef2fc548.png">

if running again in same jupyter context, warning is not printed anymore

**To Reproduce**
Run the following code:
[code]
**Expect

[2022-07-28 18:33] shir22 opened #1846 "[BUG] Checks in suite output not printed in the same order in which they are in the table"
**Describe the bug**
See the [model evaluation quickstart](https://docs.deepchecks.com/dev/user-guide/tabular/auto_tutorials/plot_quick_model_evaluation.html#run-the-deepchecks-suite):

Errors are printed first and then warnings, however in full output, the order of output is different than the one in the table:
<img width="456" alt="CleanShot 2022-07-28 at 21 30 51@2x" src="https://user-images.gi

[2022-07-31 08:58] nirhutnik commented on #1039
1. Start from 2nd bullet - create infra
2. Continue with 4th bullet - Create Dice metric (prediction X true)
3. Plan next steps

[2022-07-31 09:59] #1754 closed

[2022-07-31 10:05] JKL98ISR opened #1847 "[DOC] missing documentation for static predictions in vision"
missing documentation for static predictions in vision

the one who'll write it can use the tabular static prediction tutorial and the vision static prediction tests for help.

[2022-07-31 10:33] noamzbr commented on #1688
Happens only in github actions

[2022-07-31 10:54] ItayGabbay opened #1848 "[FEAT] Rename Whole Dataset Drift check to Multivariate Drift"
**Is your feature request related to a problem? Please describe.**
Multivariable drift is a better name than the WholeDatasetDrift. Several requests from the community came in about that.

[2022-07-31 11:07] noamzbr commented on #1848
Remove ImageDatasetDrift from vision

[2022-07-31 11:54] cemalgurpinar opened #1849 "[Docs] Documentation contains a mistake."
Package Version: 0.8

In "Additional Notes about Conditions in a Suite" section, there is a second bullet like "Most check classes have built-in methods for adding monditions.". The word "monditions" should be change with "conditions".

Best regards.

Cemal GURPINAR

[2022-07-31 12:09] shir22 commented on #1687
Baking of this task should consider:
[] Usage of ``show()`` or ``show_in_window()`` for the results?
[] wording we want to add to all quickstarts and checks examples, to refer to the "viewing results" and "exporting results" guides

[2022-07-31 13:30] shir22 opened #1850 "[BUG] Numbers in FeatureLabelCorrelationChange display plot are illegible because they are too small"
**Describe the bug**
The numbers over the test set, that include also the percentage change, are in much smaller font and therefore hard to read.
![CleanShot 2022-07-31 at 16 28 38](https://user-images.githubusercontent.com/33841818/182028625-cacab8fa-83a7-492c-9a38-2de33abb641f.png)

**To Reproduce**
See here:
https://docs.deepchecks.com/stable/checks_gallery/tabular/train_test_validation/plot_fe

[2022-07-31 14:00] Nadav-Barak commented on #1849
Hey @cemalgurpinar, good catch!
Would you be interested in contributing by uploading a PR fixing this issue?

Thank you

[2022-07-31 14:47] cemalgurpinar commented on #1849
Definitely, I will !

[2022-07-31 15:00] Nadav-Barak opened #1852 "Not clear how to add static predictions to SingleDataSet checks"
In order to pass static predictions to a SingleDataSet checks you have to pass them into the y_pred_train argument.
For SingleDataSet checks this is not intuitive.

Do not have a cooked suggestion, maybe override the run function in SingleDatasetCheck class with different arguments.

[2022-07-31 17:54] #1849 closed

[2022-07-31 18:26] cemalgurpinar opened #1854 "[Docs] Documentation contains a typo in "Using Deepchecks Vision With a Few Lines of Code" tutorial."
Package Version: 0.8

In the Computer Vision Tutorials named "Using Deepchecks Vision With a Few Lines of Code", The sentence "The ability to predict the label using these properties is **measures** by the Predictive Power Score (PPS) ... " should be corrected as "The ability to predict the label using these properties is **measured** by the Predictive Power Score (PPS) ...".

If you give me autho

[2022-08-01 06:21] #1854 closed

[2022-08-01 07:34] noamzbr opened #1856 "Create new custom task guide - this time for pose estimation"
Following the completion of #1039, we'll need a new custom task guide to replace the existing one for segmentation.

Suggestion - the new guide will be for a pose estimation task

[2022-08-01 08:12] Nadav-Barak opened #1858 "[FEAT] First steps in nlp"
Taking our first steps into creating deepchecks.nlp

In general, nlp package will support currently only static prediction (no model object) for different types of classification tasks. Also at first, will only support train test validation (mainly drift) and model evaluation

Steps included in this issue:
1. Arc talk, Agree on general concept + structure + formats for input data / labels and for

[2022-08-01 09:29] nirhutnik opened #1859 "Documentation html header contains some hash"
This shows in google as well.

### **In header:**

![Image](https://user-images.githubusercontent.com/92314933/182118788-fe72589e-29f1-4a18-b8e1-9f88f1a79675.png)

### **In google results:**

![Image](https://user-images.githubusercontent.com/92314933/182118583-4309b67a-075c-46bf-87df-3109fbe0d67f.png)

[2022-08-01 10:23] ItayGabbay commented on #1848
@kishore-s-15 assigning this to you

[2022-08-01 10:25] kishore-s-15 commented on #1848
Sure, Thanks @ItayGabbay. I'll work on it.

[2022-08-01 10:50] #1770 closed

[2022-08-01 11:59] #1830 closed

[2022-08-01 12:44] #1833 closed

[2022-08-01 15:06] TheSolY opened #1861 "[BUG] [DOCS]Image Property Drift Check title in the docs is the one containing the word "check""
We should fix the title to Image Property Drift.
https://docs.deepchecks.com/en/stable/checks_gallery/vision/train_test_validation/plot_image_property_drift.html

[2022-08-01 16:32] #1766 closed

[2022-08-01 18:53] noamzbr opened #1863 "[FEAT] Resolve two ways of passing n_samples to vision suites / checks"
**Is your feature request related to a problem? Please describe.**
Currently there are 2 ways to sample when running vision checks:

1. Through the init, with a parameter named `sample_size.` This way, the parameter is passed to checks that happen to have such an argument, which I think are none. Some checks have some internal n_samples param which is intended for checks that take a long time and/

[2022-08-01 22:04] shir22 opened #1865 "[FEAT] Add package installation explanation to vision quickstarts"
**Is your feature request related to a problem? Please describe.**
If a user arrives to the vision quickstart (which is a reasonable entry point) the "how to install" isn't accessible (not a code snippet, nor a link to the installation guide).

**Describe the solution you'd like**
Adding to all CV quickstarts installation instructions for the deepchecks for CV submodule.
See example in tabular qui

[2022-08-02 06:12] #1861 closed

[2022-08-02 07:47] TheSolY opened #1867 "[DOC]documentation for static properties"
Create a guide/tutorial on passing static (precalculated) properties to the checks.

[2022-08-02 08:34] TheSolY commented on #1847
DoD: a tutorial for passing static predictions in vision including motivation and code examples.
The tabular tutorial for reference https://docs.deepchecks.com/en/stable/user-guide/tabular/auto_tutorials/plot_static_predictions.html#sphx-glr-user-guide-tabular-auto-tutorials-plot-static-predictions-py

[2022-08-02 08:42] TheSolY commented on #1856
DoD: pose estimation custom task tutorial to replace [this one](https://docs.deepchecks.com/en/stable/user-guide/vision/auto_tutorials/plot_custom_task_tutorial.html#sphx-glr-user-guide-vision-auto-tutorials-plot-custom-task-tutorial-py).

tasks:

- [ ] Choose a pose estimation dataset (possibly COCO)
- [ ] Implement a dataloader
- [ ] Implement a VisionData class
- [ ] Implement an example check

[2022-08-02 08:44] #1831 closed

[2022-08-02 08:50] TheSolY commented on #1828
DoD: n_to_show changes the first but not the second number.

[2022-08-02 08:57] TheSolY commented on #1836
Copied from #1775 because it included vision in the issue definition but closed with only tabular.
Goal
Prediction drift computes and displays drift on the proba scores outputted by the model. This is done per class.
Update this behavior for vision checks.
Default behavior - the check computes drift on the proba for binary classification and on the decision for multiclass.

DoD
Updated checks for

[2022-08-02 09:01] TheSolY commented on #1850
DoD: fix the display font and possibly color.

[2022-08-02 09:23] noamzbr commented on #1752
Out of the integrity checks the following checks use only features and not all data:
ConflictingLabels, OutlierSampleDetection, FeatureLabelCorrelation, FeatureFeatureCorrelation
And the use all columns:
IsSingleValue, SpecialCharacters, MixedNulls, MixedDataTypes, StringMismatch, DataDuplicates, StringLengthOutOfBounds, ConflictingLabels

I think the for the latter (for which there is this confus

[2022-08-02 09:29] noamzbr commented on #1832
Proposed solution - find the max length of display that "looks good" and shorten all names to match, e.g. shorten "Owners equivalent rent of primary residence" to "Owners equival..."

[2022-08-02 09:37] noamzbr commented on #1865
Add the following code to the head of quickstart examples:
[code]

[2022-08-02 10:02] TheSolY commented on #1808
Tasks:

- [ ] Profile SimilarImageLeakage to find bottlenecks (on mnist)
- [ ] fix the bottlenecks
- [ ] return to the suites

[2022-08-02 11:41] JKL98ISR commented on #1688
happens to me on my mac

[2022-08-02 11:57] nirhutnik commented on #1813
### Logic:
In core/serialization/common.py, in create_failures_dataframe, we add the type of exception to the message we add to failed check. We should add a filter there, that for some Exceptions, we won't print the name of the exception and just the message.
Alternatively, we can change the name of the exception (and similar ones) to "NotImplementedForModelType" or something like that.

### Task

[2022-08-02 12:01] Nadav-Barak opened #1868 "[FEAT] research embedding methods + properties"
Research methods we can use in our NLP package
Come up with a suggestion how to implement those methods inside checks
Discuss options in arc / algo talk

[2022-08-02 12:07] Nadav-Barak opened #1869 "[FEAT] Add support for token classification metrics"
Research which metrics are common. Can we use also ranking metrics using sklearn?

Add support in them to the DeepChecksScorer

No need to support them in tabular checks

See if easy to extract relevant stuff from tabular metrics to core (because used by all packages no only tabular)

[2022-08-02 12:07] JKL98ISR commented on #1824
probably a version thing

@noamzbr if you can reproduce it and send your pip freeze

[2022-08-02 13:08] nirhutnik commented on #1816
### Inputs:
Add new drift method - "cramers_v_corrected" or something similar that is clear that corrects small categories.

### Logic:
Try 2 methods:
1. all categories with less than X (5?) instances - unite to one category.
2. Drop categories with under than X instances

### Tasks:
* Create the new method - 1 SP
* Compare it to previous method + PSI using Nir's notebook. Make sure it is stable l

[2022-08-02 13:30] Nadav-Barak commented on #1780
Weak segment performance can work quite similarly, but requires the following inputs:
needs to receive as input a dataframe for properties values per image.
need to receive loss per image (this will require thinking how to calculate for object detection / segmentation)

Output will look as in tabular, Heatmap with segments based on properties.

[2022-08-02 13:38] TheSolY commented on #1868
DoD:
a document detailing common embedding methods and properties for NLP, and suggestions on using them in checks.
Tasks:

- [ ] Research common NLP embedding methods -2 SP
- [ ] Research common properties, and suggest other reasonable ones - 1SP
- [ ] Suggestions for checks that can use properties and embedding - 0.5 SP
- [ ] arc talk

[2022-08-02 13:40] Nadav-Barak commented on #1796
DoD:

1. Reorginize the docs related to customization
2. Add some stuff as described above

[2022-08-02 14:00] noamzbr commented on #1847
Note that this is simpler because no need for "model wrapper" guide here, but harder because format of predictions is more complex for object detection.
Consider what docs need to link to this guide. For example, quickstarts?

[2022-08-02 14:21] nirhutnik commented on #1800
Out of the above suggestions, implement:
* Hover-on: add the contribution of that class to the drift

Do not implement:
* Hover-on: add the average score on this prediction class
** Why? Because this is prediction drift and we should not expect labels at this point. Moreover, performance on the specific label don't necessarily have a lot of meaning for the user, as drift here may also imply just a

[2022-08-02 14:40] nirhutnik commented on #1801
### DoD:
Definition of done. What needs to be completed in this task so it can be done (e.g. "check, tests and notebook" is our usual DoD for our checks)

### Background:
What information is important to have about this issue that was done before.

### Description:
Short description of task - e.g. what is this check’s purpose

### Inputs:
new parameter - display_relative_contribution: bool=False
C

[2022-08-02 14:51] nirhutnik commented on #1863
### Tasks:
* Remove "sample_size" from init: - 1 SP
** in ImageDatasetDrift (replace with n_samples from run)
** in train_test_validation suite (remove from init, will be passed in run)

[2022-08-02 15:02] nirhutnik commented on #1702
### Inputs:
ignore_na: exactly as in drift checks

### Logic:
* if ignore_na is True - drop them from each column
* if ignore_na is False - use astype(str) to case and use None as a category by itself.

### Tasks:
* Add ignore_na parameter to symmetric_theil_u_correlation and edit the mask parameter in correlation_ratio to match ignore_na format - 1 SP
* Add tests and docstrings. Add example for i

[2022-08-02 15:25] nirhutnik commented on #1743
Reducing to 3 SPs -
* going over all checks and updating names, signatures and adding deprecation warnings - 2 SPS (using pycharm's refactor will do this for plots and tests automatically)
* Adding test per check for deprecation - 1 SP

[2022-08-02 16:49] Nadav-Barak commented on #1800
We have an overall agenda in which we want to use prediction drift as a proxy to detect model detonation see [link](https://docs.google.com/document/d/1i2qE5J0GYXLN5L9a1D3c4J86BmLijONXrPkp1CjnPs0/edit).
As such I think it will give a lot of value for users to whether or not the drift is likely to hurt the performance.

Good example is the ability to disguise between the following cases:
1. you are

[2022-08-02 17:49] ptannor opened #1871 "[FEAT] plot to help visualize for date leakage stuff"
Hey! When getting a notification about date leakage, it's hard to maintain a clear picture of the sample density in different windows for train + test. I wonder if we could add a cool figure that would help see this quickly.

(BTW it could be relevant also for a general visualization even if there is no leakage)

[2022-08-02 21:14] yromanyshyn commented on #1713
@shir22

Without us deciding for them if Warn is pass/fail ...

sorry I cannot completly understand what is the final goal of this issue/
1. should we provide an additional and more convenient way (method, property) to get grouped by condition status results, etc?
2. should we provide a way to allow users to control in what state suite/check result is (passed/failed) on the base of its check/condi

[2022-08-02 21:23] yromanyshyn commented on #1712
I suggest adding next methods to the `SuiteResult` type

- `suite_result.select_results_by(kind=CheckType)  -> List[CheckResult]`
- `suite_result.select_results_by(name="Check Name") -> List[CheckResult]`
   each check has `name` classmethod that splits check type name
   by camel case, it will be used by this method

also, would like to list here other methods that currently SuiteResult type prov

[2022-08-02 22:01] shir22 opened #1872 "[FEAT] Have a notification ("warning") when importing deepchecks and it's not in the most updated version"
**Is your feature request related to a problem? Please describe.**
Many users constantly use a deepchecks version with much less features, since the package is updated frequently and users don't update it...

**Describe the solution you'd like**
To (revive) the recommendation to upgrade deepchecks version if it's not the latest.
Wording should make it clear that the package is updated frequently (

[2022-08-02 23:05] shir22 commented on #1832
It's quite common to have long names, I think the solution should include
more than ~14 chars
and best if it's extendable by hover-over

[2022-08-03 05:42] yromanyshyn commented on #1739
**Task description:**

in order to support serialization/deserialization of the check instances, we need a mechanism that will be able to capture check init parameters (parameters that were passed to the constructor) and will be able to serialize them to JSON. The current implementation relies on the idea that each check init parameter is stored within an instance under the same name and unchanged

[2022-08-03 06:26] #1750 closed

[2022-08-03 06:53] Nadav-Barak commented on #1847
Note - the link you added above is a old doc that we deleted, better to use relevant sections [here](https://docs.deepchecks.com/dev/user-guide/tabular/supported_models.html) for reference

[2022-08-03 06:58] Nadav-Barak commented on #1868
Link to updated NLP research doc https://docs.google.com/document/d/15fRuqEigkeW8dJF4aS03ukZxMVXNVbQBI0yf540yHkQ/edit#

[2022-08-03 09:57] nirhutnik opened #1874 "Add Dataset.name and add to relevant checks"
### Background:
A user requested that the legend of TrainTestFeatureDrift will be different and represent their actual datasets (and not train/test by default).

### Suggestion:
Add a "name" field in the Dataset object, which (if not None) will be used in the legend and other outputs.

### What to do:
* Add the parameter to Dataset + VisionData - 0.5 SP.
* Add an example of its usage in our guides

[2022-08-03 10:08] noamzbr commented on #1869
## DoD
1. There are tests in place that make sure that multilabel sklearn metrics can be computed from static labels and predictions using DeepChecksScorer
2. List of important multilabel metrics that sklearn does not support that we need to add + opened issue for that

[2022-08-03 10:20] nirhutnik opened #1875 "Category parameters not used in vision property ImageDatasetDrift"

[2022-08-03 10:35] #1691 closed

[2022-08-03 10:51] nirhutnik commented on #1800
I undertstand this comes from this agenda.
But -
1. Performance on train is not representative of test and can be misleading
2. Even so, performance on each category individually is not interesting. Discussed with Bressler - I think this should be solved by a new check that estimates performance based on predictions.

[2022-08-03 11:23] Nadav-Barak commented on #1800
1. I disagree with the premise. Training data is a reasonable estimator for performance on different segment of data in test set
2. It is not a complete solution but IMO better than None.

I agree that thinking on an additional check that would try and give an estimate of model deterioration is a good idea (but not sure if should be **instead** of this)

[2022-08-03 11:27] #1875 closed

[2022-08-03 11:43] nirhutnik commented on #1800
1. If model is overfitted, the estimation will be very wrong. If you had validation set I would have agreed, but training alone is prone to huge errors.
2. Better than none doesn't mean worth the time, which here would be ~2 SPs, not to talk about the additional calculation time. I think that a new check is far better than this, and will completely replace this as a solution so no reason to invest

[2022-08-03 12:46] noamzbr commented on #1808
Need to decide - do we want to change the algorithm altogether?

[2022-08-03 13:47] kishore-s-15 commented on #1865
Can I work on it @noamzbr @shir22 ?

[2022-08-03 13:57] kishore-s-15 commented on #1865
The above code snippet works on local and also on google colab. I can add it to [Image Data Validation quickstart](https://docs.deepchecks.com/dev/user-guide/vision/auto_quickstarts/plot_simple_classification_tutorial.html), similar to [Data Integrity quickstart](https://docs.deepchecks.com/dev/user-guide/tabular/auto_quickstarts/plot_quick_data_integrity.html)

[2022-08-03 15:56] noamzbr commented on #1832
Note - investigate why the * about sampling shows so close to the plot (and this overlaps with the x axis labels)

[2022-08-03 16:28] #1604 closed

[2022-08-03 21:11] nirhutnik commented on #1813
Ok, scratch that:
code before that just states which exceptions to include the name in, should just remove ModelValidationError and make sure that it makes sense for everywhere it's raised

[2022-08-03 21:46] nirhutnik opened #1878 "Recommend an action to the user after a check found something"

[2022-08-04 08:15] noamzbr commented on #1608
Use a OK licensed version of the wolf vs husky dataset to showcase this check
https://www.kaggle.com/code/a45632/fastai-example-wolf-vs-husky/data

[2022-08-04 14:44] shir22 opened #1880 "[BUG] Default Zoom displays in a problematic manner, when there are few close values"
**Describe the bug**
See here:
https://docs.deepchecks.com/0.7/checks_gallery/vision/train_test_validation/plot_image_property_drift.html#observe-the-checks-output
Scrolling a bit down will show:
![CleanShot 2022-08-04 at 17 42 54](https://user-images.githubusercontent.com/33841818/182875873-eb29b1b8-8a80-4747-9b83-73fba22df8f4.png)
Instead of something like this (when double clicking):
![CleanSho

[2022-08-04 15:06] matanper commented on #1880
I think Yurii was the last one to change the default range logic

[2022-08-07 07:26] #1714 closed

[2022-08-07 07:26] #1859 closed

[2022-08-07 13:00] #1872 closed

[2022-08-08 11:06] noamzbr commented on #1322
Only start once https://github.com/deepchecks/private-issues/issues/62 is done

[2022-08-08 11:11] #1753 closed

[2022-08-09 15:38] noamzbr opened #1887 "[FEAT] Update custom vision task to note that Segmentation is already part of the package"
**Is your feature request related to a problem? Please describe.**
As segmentation is added as a built in part of the package, changes should be introduced to the existing segmentation custom task guide to let the user know it's just an example, and that for actual segmentation they should use the built in solution.

Make sure that the built in solution and the custom task don't diverge seriously.

[2022-08-09 15:51] nirhutnik commented on #1887
Just change the wording to clarify that this custom check is instance segmentation and not semantic segmentation
And change the class names to reflect this

[2022-08-10 14:18] nirhutnik opened #1888 "Semantic segmentation - Tests & Docs"
Continues #1039

Tasks:
- Add tests for SegmentationData - 0.5
- Add tests for checks with elif for segmentation (with working model) - 0.5
- Add tests for properties - 0.5
- Update checks docstrings - 0.5
- Add use-case of semantic segmentation to docs - 3 SP

Moved some tasks to #1939

[2022-08-10 14:20] nirhutnik commented on #1888
Might-be-usable code for semantic segmentation in PropertyLabelCorrelationChange -

[code]

[2022-08-10 14:22] nirhutnik opened #1889 "LabelPropertyCorrelationChange - Semantic Segmentation"

[2022-08-10 14:22] nirhutnik commented on #1889
Might-be-usable code for semantic segmentation in PropertyLabelCorrelationChange -

[code]

[2022-08-10 14:27] nirhutnik commented on #1039
Continued by #1888

[2022-08-11 09:28] TheSolY commented on #1868
https://docs.google.com/document/d/15gSgOvRxu17jpaBLdX-2PxIJ7qIhZ4SOGucjqjLh9WM/edit#heading=h.hn6o7w2k4dlb

[2022-08-11 12:01] TheSolY commented on #1888
also add the new default properties to test_default_properties in properties_utils_tests
and a test for label_property_outliers with a segmentation task

[2022-08-11 15:13] noamzbr opened #1892 "[FEAT] Display additional information about drift and performance per class and feature"
## Background
In order to provide extra value in performance & drift checks, we want to always display information about these quantities in an aggregate manner (as done in the reduce function of drift, or with aggregate metrics in performance checks) and also in a per class or per feature manner.

## DoD

1. In drift checks, the reduce output will always be both the aggregate value and the value

[2022-08-12 19:00] DanBasson opened #1893 "[DOC] Consistent structure for tabular and vision checks"
i would like to suggest the same page structure for each one of tabular and vision checks.
for instance, in "Data Duplicates" here - (https://docs.deepchecks.com/stable/checks_gallery/tabular/data_integrity/plot_data_duplicates.html),  the structure is:

- one line of explanation
- "Structure" - table of contents
- brief explanation
- run the check
- optional - "add condition"

i think that all ch

[2022-08-14 11:00] #1039 closed

[2022-08-14 11:00] #1887 closed

[2022-08-15 12:29] ptannor opened #1899 "[FEAT] add dtreeviz explainability functionality as a check for the tabular module"
Really nice explainability feature as you can see here:
https://www.linkedin.com/feed/update/urn:li:activity:6964844680010170369/

Or here:
https://github.com/parrt/dtreeviz

If it doesn't cause complexity with dependencies, it should definitely be part of one of the standard suites/reports

[2022-08-15 12:43] TheSolY opened #1900 "[FEAT][NLP] NLP TF-IDF Drift Check"
Compute TF-IDF separately on the train and the test set, and then compute and the the drift between them.
The drift should probably be computed with Crammer's V.
Display a bar graph of the top N words selected to show.
The check will accept the parameters: top_n_to_show, top_n_method, keyword_list

Options for filtering the Top N to show (top_n_method):
1. Top difference - show the words with the

[2022-08-15 13:08] TheSolY opened #1901 "[RESEARCH][NLP] research methods to detect change in the tokenization"
We would like to implement a check to detect changes in the tokenization in the future.

- Map the common tokenization methods, what levels they tokenize (sub-word/word/sentence/doc).
- Find possible causes for changes in the tokenization and how would they express in the result.
- Research methods to detect tokenization changes.
- Write a document to summarize.

[2022-08-15 13:33] TheSolY opened #1902 "[FEAT][NLP] Train-Test Keywords Intersection Check"
Implement a check to compute the intersection score (something like IoU) between the keywords of the train and the test- what fraction of the keywords are common between the train and the test?
This test can help detect a change of the main topics or themes of the corpus.

1. Compute TF-IDF separately for the train and the test
2. Select the N words with the highest TF-IDF scores for each dataset

[2022-08-15 14:05] TheSolY opened #1903 "[FEAT]Property Label Correlation per class"
Currently the Property Label Correlation check calculates the correlation for all of the classes, add an option to calculate per class, similar to what we do in Property Label Correlation Change.

*Note that the "compute" method is implemented differently in the absolute and the change so take into consideration when estimating SP.

[2022-08-15 14:19] TheSolY opened #1904 "[FEAT]Feature Label Correlation per class"
similar to https://github.com/deepchecks/deepchecks/issues/1903
We want to implement a per_class parameter (flag) and the actual implementation to calculate the feature label correlation per class

[2022-08-15 14:37] noamzbr commented on #1889
Also for PropertyLabelCorrelation

[2022-08-15 14:45] noamzbr commented on #1852
Yes should have only a single y_pred & y_proba in these checks

[2022-08-15 15:33] TheSolY opened #1905 "[DEE-181] Add unused parameter to the CI/CD tests"
An unused parameter is a parameter passed to the function (defined in the function signature) but never used.
For example, we thought we will need it for some functionality but later on understood that we didn't need it but forgot to remove it.
Specifically make sure it catches the problem on parameters passed to check init.

<sub>[DEE-181](https://linear.app/deepchecks/issue/DEE-181/add-unused-pa

[2022-08-15 15:40] TheSolY opened #1906 "[FEAT][NLP] BoW Drift Check"
Similar to TF-IDF Drift Check, but with Bag of Words instead of TF-IDF.
Start after https://github.com/deepchecks/deepchecks/issues/1900 is closed.

Compute BoW word counts separately on the train and the test set, and then compute and the the drift between them.
The drift should probably be computed with Crammer's V.

The counts should be normalized to a frequency between 0 and 1, possibly by div

[2022-08-16 07:39] noamzbr opened #1908 "[FEAT] Check estimating model performance change based on shift in distribution"
**Is your feature request related to a problem? Please describe.**
We know what the model performance was in the training data, and we know how the data (and the predictions) have changed compared to that in the test data. We can use that to produce some estimation of what is the rough performance in the test data (based on no concept drift having occurred).

**Describe the solution you'd like**
S

[2022-08-16 07:41] noamzbr commented on #1800
## Bottom line
1. Add the contribution of each class to the drift in hover-on, as detailed in @nirhutnik s comment
2. Everything else will be covered by [#1908](https://github.com/deepchecks/deepchecks/issues/1908)

[2022-08-16 08:12] #1868 closed

[2022-08-16 08:18] noamzbr opened #1909 "[FEAT] Add validation in tabular dataset creation that there are no columns with identical names"
**Is your feature request related to a problem? Please describe.**
A pandas dataframe can have columns with the same name, but for the operation of the deepchecks package that can lead to unexpected bugs.

**Describe the solution you'd like**
Validate that this is not the case in the dataset init

[2022-08-16 13:28] noamzbr opened #1912 "[FEAT] Enable vector properties"
**Is your feature request related to a problem? Please describe.**
Enable user properties that return a vector of numbers, rather than a single number per sample.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

*

[2022-08-16 13:32] #1739 closed

[2022-08-16 14:51] yromanyshyn opened #1913 "[FEAT] documentation links resolver"
Recently we added a small function to resolve a reference link to the documentation section/page - `deepchecks.utils.docref.doclink` (was added by this [PR](https://github.com/deepchecks/deepchecks/pull/1885)). An obligation of this function is to return a documentation link for that specific installed deepchecks package version. It uses a dictionary to store links per version but currently that d

[2022-08-16 15:57] noamzbr opened #1914 "[FEAT] Runtime improvement for drift checks"
**Is your feature request related to a problem? Please describe.**
We would like to have a run time of <1ms per column for 10K samples for both categorical and numerical drift. Barring that, let's try to reduce the runtime. Currently Carmers-v takes double the time of earth movers.

Profiling results at https://drive.google.com/file/d/1OtrUg48rV9jRNL9tMHCgat7KDYGVTus3/view?usp=sharing

**Describe

[2022-08-16 20:21] shrey231 commented on #1607
Hi! I was wondering if I could be assigned to this issue?

[2022-08-17 06:56] Nadav-Barak commented on #1836
Problem to deal with: One need to now at check init whether to collect probabilities per class or predictions which require knowing in advance if we are in a multiclass or binary tasktype. Alternatively to create a complicated property with internal logic for collection of data.

Other issue: probas are not as informative in NN models.

[2022-08-17 07:23] #1846 closed

[2022-08-17 09:49] TheSolY opened #1917 "[BUG] result.show_in_window() returns error"
code to reproduce (from feature_label_correlation_test)
`

    def util_generate_second_similar_dataframe_and_expected():
      np.random.seed(42)
      df, _ = util_generate_dataframe_and_expected()
      df2 = df.copy()
      df2['x2'] = df['x2'] + 0.5 * df['x1']
      df2['x3'] = 0.3 * df['x3'] + df['label']
      return df, df2, {'x1': close_to(0, 0.1), 'x2': close_to(0.3, 0.1), 'x3': close_to

[2022-08-17 10:14] #1813 closed

[2022-08-17 10:15] #1832 closed

[2022-08-17 10:17] Nadav-Barak commented on #1816
@nirhutnik Send me Nir's notebook and expect some follow up questions

[2022-08-17 10:27] TheSolY commented on #1607
@shrey231 Hi, we appreciate your willingness to contribute! I edited the issue a bit to make it clearer and assigned you :)

[2022-08-17 10:43] #1828 closed

[2022-08-17 11:00] noamzbr opened #1918 "[FEAT] Runtime improvement for performance checks"
**Is your feature request related to a problem? Please describe.**
We would like to have a run time of <1ms 10K samples for performance checks running several (3?) metrics. Barring that, let's try to reduce the runtime. Currently performance calculation takes way more than that, as can be seen here:

[profiling performance.txt](https://github.com/deepchecks/deepchecks/files/9358944/profiling.perfo

[2022-08-17 12:05] kishore-s-15 commented on #1909
Hi @noamzbr, Can I work on this issues ?

As mentioned [here](https://github.com/deepchecks/deepchecks/pull/1895#discussion_r945306496), I'll add a validation to check if `df` have duplicate column names in [dataset.py](https://github.com/deepchecks/deepchecks/blob/main/deepchecks/tabular/dataset.py)

[2022-08-17 18:01] shrey231 commented on #1607
Sounds good thank you so much! I was wondering if there is a specific library thats being used for data vis (for displaying counts per class).

[2022-08-18 06:08] matanper commented on #1607
Yes, we use plotly, you can take examples from the other checks' source code

[2022-08-18 09:07] Nadav-Barak commented on #1918
After discussion decided on need to reduce run time as much as possible and preferably at least X2.
Candidates for easy improvements are:
1. shared confusion matrix between scorers
2. reduce runtime of scorers validation

[2022-08-18 10:07] #1847 closed

[2022-08-18 10:09] Nadav-Barak commented on #1687
DoD:
Come up with an agreed text referring about different exporting method

Go over all docs and in each:
Add agreed upon text
Update the display to be show() or show_in_window() for the results (tendency - show() + the link mentioned below)

[2022-08-18 10:13] Nadav-Barak commented on #1867
Update the https://docs.deepchecks.com/dev/user-guide/vision/vision_properties.html# page to include explanation on working with static properties. Reduce the size of the document by summerizing and removing redundant stuff

[2022-08-18 10:15] Nadav-Barak commented on #1880
Play around with the plotly parameters and try and fix this

[2022-08-18 10:42] Nadav-Barak commented on #1901
We only receive tokens for NLP task of token classification (as part of labels).
Will be difficult and prone to mistake to try and detect change in tokenization type
Gut feeling: for a given model version it is quite rare that the tokenization method of the data will change

All and all decided to postpone this task

[2022-08-18 11:48] Nadav-Barak commented on #1900
Implementation steps:
1. find a good TF/IDF package
2. Use them to calculate TF/IDF per word in the train - output should be a list of the **unique words** in the entire corpus and a score for each word
3. same for test
4.

Stuff to checks:
How does TF-IDF method treat variation of the same word (i.e cat/ cats/ cat's)

[2022-08-18 13:02] yromanyshyn commented on #1917
NOTE:

this happens only on platforms that do not support or do not use by default `fork` process creation method (macOS, Windows)

[2022-08-18 14:08] JKL98ISR opened #1927 "[BUG] unused features check shouldn't be TrainTestCheck"
**Describe the bug**
It only uses one dataset - old code

![Screen Shot 2022-08-18 at 17 05 51](https://user-images.githubusercontent.com/26321553/185415549-f1a849d3-a42b-41f1-ab86-69b9079edd0c.png)

we just need to make it a single dataset check

[2022-08-18 14:16] JKL98ISR opened #1928 "[DEE-184] [FEAT] make all single dataset check to be able to be used as train-test checks"
**Is your feature request related to a problem? Please describe.**
we have duplicated code because we separate those incorrectly.
we should at least use their results in the the run and aggregate them.

better option is to make it fully generic (most of the time is just adding a column of the dataset kind and concating)
we just need to separate the display to another function maybe

<sub>[DEE-184]

[2022-08-18 14:34] nirhutnik commented on #1914
### DoD:
* TrainTestFeatureDrift calculation time for 10,000 samples is now X3 faster
* Update the benchmark spreadsheet

### Tasks:
* Map the main reasons why these calculations are slow - 1 SPs
* Find alternative solutions - scipy, numba, numpy, different algorithm, calculate things only once, calculate estimation. Add tests. - 2 SPs.
* Extra SP for the fact that there's no clear solution - 1 SP

[2022-08-18 14:56] nirhutnik commented on #1889
### Background:
In LabelPropertyCorrelationChange and PropertyLabelCorrelation, we need to associate image properties with a label. Therefor, for object detection, we crop out the bounding box and send it to the image properties.
However, for semantic segmentation, we have the following issue:
If we crop part of the image - do we crop the smallest rectangle that includes this segment? Do we includ

[2022-08-18 15:21] noamzbr commented on #1900
If grouping similar words is an issue, can consider word2vec word clustering a a solution

[2022-08-18 16:30] #1850 closed

[2022-08-18 17:07] #1322 closed

[2022-08-18 17:47] shrey231 commented on #1607
Sounds good thank you!

[2022-08-20 07:33] noamzbr commented on #1852
### DoD:
* Both vision and Tabular SingleDatasetCheck receive only pred/proba for a single dataset, not train and test. It is passed to the train dataset proba/pred in the context.

[2022-08-20 07:44] noamzbr opened #1929 "[FEAT] Add illustration of the husky-wolf data to the PropertyLabelCorrelation check"
**Describe the solution you'd like**
Create an image of huskies and wolfs showing the fact that wolfs appear on snow and huskies don't, add to the check docs.

## DoD:
Write code to create this display (can copy from detection quickstart), add it to the tutorial.

[2022-08-20 07:52] noamzbr commented on #1903
## Tasks
* Create code similar to get_feature_label_correlation_per_class but without the change part of the calculation and display. Build it so it'll apply also for tabular features. Refactor so that check uses that common function - 1 sp
* Adapt condition to new return value - 0.5 sp
* Adapt plot example to show option - 0.5

[2022-08-20 07:53] noamzbr commented on #1904
Do after #1903 is done.

Here IMO default should be not to show per class, but that's up to debate.

## Tasks
* Change to using function from #1903 and adapt condition - 0.5
* Adapt plot example - 0.5

[2022-08-20 07:57] noamzbr commented on #1906
Start after https://github.com/deepchecks/deepchecks/issues/1900 is done.

## Tasks:
* Add a flag that instead of computing tf-idf, the check computes the frequency of the word in the dataset as a whole (0-1). Make sure method checks only base-words (e.g. horse, horses are the same). - 3 SP
* Adapt wording to reflect that in this case in display, condition, plot - 1 SP.

[2022-08-21 06:58] ItayGabbay opened #1930 "Add ZenML integration guide to the docs"

[2022-08-21 07:38] #1608 closed

[2022-08-21 09:08] JKL98ISR commented on #1927
it's really quick just change it to single dataset and remove this funny if

[2022-08-21 09:25] shir22 opened #1931 "[FEAT] Change vision "static predictions" guide to "supported models" (Which model types do we support and how to work with predictions)"
User flow:
Wants to use us for a CV task.
Doesn't know - which tasks do we support? how to pass us a model (data classes, static predictions, etc.). Where can I find the structure of the predictions, labels, etc..

This can be inspired by the relevant Tabular user guide (with the relevant adaptations - e.g. the data classes have their own documentation, so the overview should be explained + it sho

[2022-08-21 10:29] ItayGabbay commented on #1918
Intel acceleration won't work

[2022-08-21 10:31] shir22 commented on #1880
Following our oral discussion, note two topics in this bug:
1. Is there another bug -> numerical identified as categorical? Do we (and should we?) have a logic of float that should be identified as numerical and not categorical?
2. Display-wise bug -> there is some logic that was added to bar-charts so that the bars won't be too wide (when there are only a few bars), consult with @matanper if adap

[2022-08-21 11:35] #1892 closed

[2022-08-21 12:04] #1816 closed

[2022-08-21 18:55] ssami opened #1934 "[Docs] Documentation contains a mistake."
Package Version: 0.8

Under [Check](https://docs.deepchecks.com/stable/user-guide/general/deepchecks_hierarchy.html#check) the first bullet point looks like a broken link,

[code]

Guessing it should be
[code]
but no such page exists. Maybe a link to one of https://docs.deepchecks.com/stable/checks_gallery/tabular/model_evaluation/?

[2022-08-23 07:40] yromanyshyn commented on #1917
@ItayGabbay it is not completed yet,
@TheSolY tried on macOS and it failed

[2022-08-23 08:22] #1893 closed

[2022-08-23 10:41] #1865 closed

[2022-08-23 11:29] noamzbr commented on #1858
What will be achieved by the end of the task:

1. Package base - dataset, base checks, suite obj.
2. SingleDatasetPerformance check for multiclass + multilabels
3. default model eval suite
4. tests

[2022-08-23 12:02] #1918 closed

[2022-08-23 12:09] Nadav-Barak opened #1938 "[FEAT] vision checks for monitoring (especially property drift)"
Add ReduceMixin functionality to vision property drift.

Options should include Max, per_class or mean with max as default

In addition go over relevant vision check (prediction drift, label drift) update them to relevant format with relevant reduce mixin class inheritance

[2022-08-23 12:10] nirhutnik opened #1939 "Semantic Segmentation - Metrics"
Split from #1888

Add tests for MeanDice - 0.5
Make new code more efficient - especially in MeanDice - 1
Add usage of iou and add / edit metrics accordingly - 3 SP

[2022-08-23 12:11] noamzbr opened #1940 "[FEAT] Docs for nlp package"
Create documentation for the NLP package that matches the documentation of the vision package.

**Components**
- [ ] #1976
- [ ] Add a "NLP Checks" section
- [x] #1971
- [ ] #1972
- [ ] #1973
- [ ] #1974
- [ ] #1975
- [ ] Add NLP to the getting started + Readme
- [ ] API reference for NLP

[2022-08-23 12:13] noamzbr opened #1941 "[FEAT] Property drift in nlp"
**Is your feature request related to a problem? Please describe.**
In addition to #1900, we want a check that will check for drift in simple properties:

1. word length
2. sample length
3. language change

[2022-08-23 12:50] TheSolY opened #1942 "Unify the API for passing number of samples to the tabular checks"
Similar to what we did for Vision: https://github.com/deepchecks/deepchecks/issues/1863
Currently it's sometime passed to the init, for example in feature_feature_correlation has a parameter n_samples, and sometime to the run.
Should be passed only to the run in on all of the tabular checks.

[2022-08-24 11:04] Nadav-Barak opened #1945 "[FEAT] additional property - sharpness"
An an additional image property of sharpness and add it to the check default properties.
Add test on the new property and description about it in image property drift docs.

Possible methods:
https://pyimagesearch.com/2015/09/07/blur-detection-with-opencv/
https://pyimagesearch.com/2020/06/15/opencv-fast-fourier-transform-fft-for-blur-detection-in-images-and-video-streams/

[2022-08-24 11:26] TheSolY commented on #1945
Related to https://github.com/deepchecks/deepchecks/issues/1394

[2022-08-24 13:39] noamzbr commented on #1945
Would even say duplicate? If so @TheSolY Maybe copy the stuff from there to here and close #1394

[2022-08-24 13:43] noamzbr opened #1947 "[FEAT] Adversarial robustness"
**Is your feature request related to a problem? Please describe.**
We can use the [adversarial-robustness-toolbox](https://github.com/Trusted-AI/adversarial-robustness-toolbox) to test the user's models robustness to adversarial data. Start with tabular models and data.

**Describe the solution you'd like**
1. Research what the package does. Why should the user care? What is a reasonable condition

[2022-08-24 14:04] TheSolY commented on #1394
Duplicate by https://github.com/deepchecks/deepchecks/issues/1945

[2022-08-24 14:04] #1394 closed

[2022-08-25 08:28] Nadav-Barak opened #1949 "[FEAT] create a base version for check that are common to tabular vision and nlp"
**Is your feature request related to a problem? Please describe.**
Duplicate code

**Describe the solution you'd like**
Create more classes in the same manner we did in BaseSingleDatasetPerformance

Step one: Map relevant check candidates
Step two: decide what method should be in the base check, e.x should the reduceClass inheritance be there
Step three: go at it

[2022-08-25 12:27] noamzbr commented on #1949
Should be considered together with https://github.com/deepchecks/deepchecks/issues/1928

[2022-08-25 12:30] noamzbr commented on #1869
# Change of plans
This task is now about adding support for token classification metrics using the seqeval library

[2022-08-29 07:51] DanBasson commented on #1820
@nirhutnik can you please assign this issue to me?

[2022-08-29 10:57] ngupta23 opened #1960 "[FEAT] Relax plotly requirements"
**Is your feature request related to a problem? Please describe.**

Currently, `plotly` is pinned to 0.5.5 in `deepchecks`. This causes compatibility issues when used with other libraries like `pycaret`.
See: https://github.com/pycaret/pycaret/pull/2866#issuecomment-1230122006

**Describe the solution you'd like**
Make `deepchecks` compatible with latest `plotly` versions (plotly>=5.5.0 may work i

[2022-08-29 12:59] nirhutnik commented on #1820
@DanBasson Done :)

[2022-08-30 08:08] noamzbr commented on #1909
Hi @kishore-s-15, sorry for the late reply I missed you're comment here.
It would be great if you can take that! Only thing I'd ask is that the error message will also tell the user **what column names** are duplicated, rather than just alert him to that fact.

[2022-08-30 08:11] noamzbr commented on #1942
Something we need to address - currently different check have a different default number of samples (and rightly so, integrity checks can and should run on more samples). This will go away if we implement this.

[2022-08-30 08:23] noamzbr opened #1961 "Replace coco and coco_segmentation downloads with downloads from our links"
**Is your feature request related to a problem? Please describe.**
coco datasets and related pytorch models change often, breaking the ci

**Describe the solution you'd like**
Upload certain cocos & models version to figshare and change download to load from there.

[2022-08-30 09:18] #1858 closed

[2022-08-30 13:31] #1781 closed

[2022-08-30 14:25] TheSolY opened #1964 "[FEAT]Improve TF-IDF drift algorithm"
Currently TF-IDF drift aggregation function is max, and the IDF calculation is done on train and test together.
Maybe there's a better way to do it.
Trying mean aggregation showed top N scores as words that should have a low score such as "film" and "the" and drift 0.0 for both random split and split by label.

[2022-08-30 14:47] TheSolY opened #1965 "[BUG] Remove name validation from NLP context"
A probable use case is to pass the same dataset twice for sanity check, for example make sure that there's no drift when passing the same dataset. If the dataset is initiated with a name it will raise an error.
![image](https://user-images.githubusercontent.com/99395146/187467681-4ddf60d8-12e7-48f8-ac08-44f8b4b665f4.png)

[2022-08-30 16:38] #1934 closed

[2022-08-30 17:45] #1927 closed

[2022-08-30 19:37] #1938 closed

[2022-08-31 09:40] noamzbr opened #1967 "[FEAT] Feature Feature Correlation change"
**Is your feature request related to a problem? Please describe.**
Sometimes the relations between features change drastically between datasets and it's interesting to know that.

**Describe the solution you'd like**
Create a check displaying the differences in the feature-feature correlation matrices between two datasets

[2022-08-31 09:47] Nadav-Barak commented on #1967
Can add value in the regression use case described here https://docs.google.com/document/d/1DX9FxRqsWvnlZCBOFU_r13GS9L9ISUc5IFF1r94emZc/edit

[2022-08-31 09:58] #1874 closed

[2022-08-31 11:28] noamzbr commented on #1914
Closed as code relies on basic optimized python / numpy operations (Counter for categorical, np.argosrt for numeric).
#1966 is related but does not solve the underlying issue

[2022-08-31 11:28] #1914 closed

[2022-08-31 11:57] noamzbr commented on #1960
Thanks for raising the issue. We will try to resolve this in one of the next releases.

[2022-09-01 07:32] noamzbr commented on #1902
Consider how much it duplicates the content and the condition of the tf-idf srift check

[2022-09-01 08:11] nirhutnik opened #1970 "Adult dataset label is corrupt"
Adult dataset label has 4 unique values instead of 2 - '<=50K' and '<=50k.' both mean the same thing.
Should fix + make sure fixed in examples

[2022-09-01 08:12] #1900 closed

[2022-09-01 11:47] nirhutnik commented on #1880
This was already fixed in 0.8.
In the 0.8 docs everything is fine - https://docs.deepchecks.com/0.8/checks_gallery/vision/train_test_validation/plot_image_property_drift.html#observe-the-checks-output

[2022-09-01 12:03] noamzbr opened #1971 "Write a "Working with Labels and Predictions" guide for NLP detailing the data format we work with"
## DoD
Write a guide (similar to the one in tabular) detailing
1. Supported tasks (and what should they do if their task is not supported)
2. Label formats for each
3. Prediction format for each

[2022-09-01 12:03] noamzbr opened #1972 "Write docs for the TextData class"

[2022-09-01 12:03] noamzbr opened #1973 "Write a Text classification Tutorial"

[2022-09-01 12:04] noamzbr opened #1974 "Write a Token classification tutorial"

[2022-09-01 12:04] noamzbr opened #1975 "Add NLP metrics to the Metrics guide"

[2022-09-01 12:07] noamzbr opened #1976 "Add quickstart under a new NLP section"

[2022-09-04 06:13] noamzbr commented on #1940
Currently - the only thing is adding the NLP Check section

[2022-09-04 07:33] Nadav-Barak commented on #1976
We will create a general NLP quick start showcasing a usecase of token classification run of full suite.
Will contain a short explanation of format types required to create a DataSet object (for both classification and token classification),
example code to run a full suite,
a short overview of the suite result
A short section on how to edit the suite (remove checks/ conditions)

[2022-09-04 07:54] #1917 closed

[2022-09-04 08:04] noamzbr commented on #1721
# Tasks
1. In both tutorials (classification & object detection), replace full suite with the one suite that gives the most interesting results
2. add a short discussion / sentences about the other suites, when to use them and link to the api reference with the other suites.

[2022-09-04 08:31] TheSolY commented on #1964
DoD:
Try all the things to try and keep the implementation for those who improved.

Tasks:

- [ ] Find 2 datasets in addition to Movie Reviews to try on - 0.5 SP
- [ ] Infrastructure to compare the results: a list of tests on the datasets and a sheet to record - 1 SP

Things to try:

- [ ] Different thresholds for min_df - the minimal word counts for a word to be included - 0.5 SP
- [ ] Compare TF

[2022-09-04 08:33] TheSolY commented on #1967
DoD:
The check is implemented including tests and documentation.

[2022-09-04 08:38] TheSolY commented on #1556
Tasks:

- [ ] Encapsulate the code from  validate_infered_batch_predictions in a function to make sure the label bbox is inside the image boundaries - 1 SP
- [ ] Add some random sampling to for image, bbox pairs to validate on - 0.5 SP
- [ ] Add the function to validate_label - 0.5 SP
- [ ] Add a unit test

[2022-09-04 08:43] TheSolY commented on #1945
DoD:
Bluriness property is in the default properties.

Tasks:

- [ ] Choose an algorithm for blurriness - 2 SP
- [ ] Implement a function for calculating blurriness - 1 SP
- [ ] Add to the default properties and update unittests and documentation accordingly- 0.5 SP

[2022-09-04 11:13] noamzbr commented on #1852
deprecation warning

[2022-09-04 14:36] TheSolY opened #1978 "[FEAT] Simple Detection Dataset"
Creating a dataset for object detection difficult and very time consuming, we need something simple like we have for classification simple_classification_dataset.
The input format can be either: directory of image + annotations json with the same file name as the image, or a csv where each rows is an image path + annotations for the image at that path.

[2022-09-05 13:06] noamzbr opened #1979 "[FEAT] Add "roc_auc_per_class" to our custom scorers"
Add it to scorers.py and to the metric guide

[2022-09-05 14:29] Nadav-Barak opened #1980 "[FEAT] Additional feature_reduce method - Top 5 features"
The new aggregation method will be similar to 'none' but instead of returning value per all the features will return only for the 5 features with highest feature importance

Should we also add option of Top 3?
What is the default if this aggregation method is selected but no FI is available?

Update doc string of relevant checks.

[2022-09-05 15:42] noamzbr commented on #1869
Closed by #1959

[2022-09-05 15:42] #1869 closed

[2022-09-05 16:44] JKL98ISR opened #1981 "[BUG] change usage of classes in scorers to use not just dataset classes but also predictions"
**Describe the bug**
incorrect behavior in some model evaluation checks using dataset classes and scorers
if a prediction contains a new class the results might shift and be incorrect

easiest to see in SingleDatasetPerformance check and pass y_pred_train with a new class

the fix should be a set of dataset.classes (classes fund in label) and classes found in prediction - fix all scorers using pre

[2022-09-05 16:49] JKL98ISR opened #1982 "[FEAT] have an option to pass classes to predit_proba scorers + name positive label in binary classification"
see issue #1981 for some background

we need to be able to pass the classes (label+prediction) to the scorers to also be able to prevent some errors if the label+predict does contain all the classes in scorers that use predict_proba (in those scorers there will not be a bug but an error from sklearn)

we need to be able to utilise the option to pass the classes (as will be from the linked issue) t

[2022-09-06 10:09] Nadav-Barak opened #1984 "[FEAT] Add ap ar scorers with averaging method"
Currently we only support average_precision_per_class, average_recall_per_class

we should also support macro / micro/ weighted

[2022-09-06 15:37] #1965 closed, assigned to noamzbr

[2022-09-07 07:36] #1980 closed

[2022-09-07 07:43] Nadav-Barak opened #1988 "[FEAT] add a condition that run on the reduce method returned value"
**Is your feature request related to a problem? Please describe.**
We want to be able to create a pairing between alerts in monitoring to conditions in suite.

**Describe the solution you'd like**
A general condition that receives return value of reduce output and see if all the values in the returned dict are above / below a certain threshold. would imagined this condition will be defined in the

[2022-09-07 12:23] AyushExel opened #1990 "[FEAT] Support Rich text outputs on terminal"
**Is your feature request related to a problem? Please describe.**
Most outputs are beautifully displayed on notebook cells so it's understandable. But I think there's a big use case for better supporting console applications. Pull-request in popular repos can be run through a deepchecks-based CI workflow on GitHub. The problem right now is that the __repr__ of checks on the terminal doesn't suppo

[2022-09-08 09:05] kishore-s-15 commented on #1909
Sure, I'll work on it. Thanks @noamzbr

[2022-09-08 10:10] kishore-s-15 commented on #1909
@noamzbr I have come up with a couple of methods for listing out the names of the duplicated columns.

1. Using python set data structure for finding the duplicated columns.

[code]

2. Using Counter datatype
[code]

The duplicated_columns list contains the duplicated columns in both the methods.

[2022-09-08 10:11] kishore-s-15 commented on #1909
I'll make the changes now.

[2022-09-08 11:29] #1979 closed

[2022-09-10 19:40] DanBasson opened #1997 "[DOC] documentation for all tabular Model Evaluation checks"
**Describe the bug**

i would like to suggest the same page structure for each one of tabular's Model Evaluation checks.
i think that all checks should have the same structure as the unused_features check:

https://docs.deepchecks.com/stable/checks_gallery/tabular/model_evaluation/plot_unused_features.html

currently, there are checks without description, such as:

https://docs.deepchecks.com/stab

[2022-09-10 20:05] DanBasson commented on #1997
hi @nirhutnik

can you please assign this issue to me?

[2022-09-10 21:24] #1820 closed

[2022-09-11 13:04] shir22 commented on #1880
Bug still exists as is... (in documentation example the "classes to display" were changed, but if you run it with the original code cell (that can be taken from the 0.7 documentation in the example above):
`check_result = ImagePropertyDrift(classes_to_display=['bicycle', 'bench', 'bus', 'truck'], min_samples=5
                                  ).run(train_dataset, test_dataset)
check_result.show()

[2022-09-11 13:04] #1479 closed

[2022-09-11 13:09] shir22 opened #2000 "[BUG] Deprecation warning for deepchecks tabular (??) when importing deepchecks vision"
**Describe the bug**
![CleanShot 2022-09-11 at 16 08 18](https://user-images.githubusercontent.com/33841818/189529235-a6ecf22c-d912-4018-b59e-0873fb2f7d58.png)

**To Reproduce**
Steps to reproduce the behavior:
1.  run
`from deepchecks.vision.checks import ImagePropertyDrift`

**Expected behavior**
No warning

[2022-09-11 13:42] noamzbr commented on #1880
The only bug that remains to be solved here is the fact that the default zoom "squeezes" the whole range into the center of the plot for some cases. This is a edge-case bug, as we only got it here because min_samples=5 was set manually.

[2022-09-11 14:45] Nadav-Barak commented on #1967
There are issues in how we want the display to be.
Main suggestion:
A heatmap where the values are |test_corr| - |train_corr| which scales -1,1
In addition a df table (feature1, feature2, corr train, corr test) showcasing feature pair in which |test_corr - train_corr| is large and in addition have different signs (ex. -0.1, 0.2)

[2022-09-12 07:26] tzoof opened #2002 "[FEAT] Golden set check during CI/CD"
**Is your feature request related to a problem? Please describe.**
We want to verify that any non-research-related coding done in our pipeline does not change our model's performance.
In our work, we manually verify the prediction scores of a predefined golden set in each commit

**Describe the solution you'd like**
If you checked - "I want to change the model predictions"
The scores of the golden

[2022-09-12 07:28] nirhutnik opened #2003 "Monitoring platform bug bash"

[2022-09-12 12:33] TheSolY commented on #1964
Sklearn  stop_words parameter default value is None- replace with 'english'

[2022-09-12 12:43] matanper opened #2005 "[BUG] Set verbosity does not turn off warnings"
after doing `deepchecks.set_verbosity(logging.ERROR)` I expect all warnings to be suppressed but I still get warnings raised where `warnings.warn` is used.

[code]

[2022-09-12 13:56] nirhutnik commented on #2002
Hi @tzoof !
Thanks for opening an issue!
However, I'm not exactly sure what you meant here.

I understand that you have an internal process in which with each commit to your code, you make sure your predictions on a certain dataset have not changed.

Can you elaborate what exactly is the problem and the feature you are looking for?

[2022-09-12 16:25] tzoof commented on #2002
Hi Nir
It would have been nice to have this process done automatically and
verified as part of the ci/cd pipeline.
If you want we can chat offline and I can explain further
0527703494

On Mon, 12 Sept 2022, 16:56 Nir Hutnik, ***@***.***> wrote:

[2022-09-12 20:49] noamzbr commented on #1971
Closed by #1993

[2022-09-12 20:49] #1971 closed

[2022-09-13 11:29] #1909 closed

[2022-09-13 14:14] #2000 closed

[2022-09-13 15:13] DanBasson commented on #1607
hi @shrey231
can i take this issue?

[2022-09-13 16:46] shrey231 commented on #1607
Yes, unfortunately I do not have enough time to complete this issue. Thank you!

[2022-09-13 16:48] DanBasson commented on #1607
thanks @shrey231 .

@TheSolY can you please assign this issue to me?

[2022-09-14 09:18] noamzbr commented on #1939
Closed by #2004

[2022-09-14 09:18] #1939 closed

[2022-09-14 11:05] #2005 closed, assigned to noamzbr

[2022-09-14 13:28] #1888 closed

[2022-09-15 09:21] noamzbr opened #2013 "[FEAT] Add default n_samples to all tabular checks"
**Is your feature request related to a problem? Please describe.**
Currently some checks don't have any n_samples parameter and must run on all data.

**Describe the solution you'd like**
Add a default n_samples to checks that lack it. Set some default like 10M samples for integrity checks.

[2022-09-18 07:49] noamzbr commented on #1942
Decision: Add n_samples init argument to all tabular checks

[2022-09-18 09:13] Nadav-Barak opened #2017 "[BUG] ImagePropertyDrift is not serializable"
It is not serializable therefore cannot be used in monitoring.
Big problem since vision use cases include this check

[2022-09-18 11:16] #1848 closed

[2022-09-18 13:52] TheSolY commented on #1982
This bug happens when not all of the possible classes appear in the dataset, so the size of the model output doesn't match the number of unique label values.
Sklearn has a feature to accept an array of labels, as the scorers' parameter 'labels', we can adopt.

tasks:

- [ ] Decide on the API to pass the classes. for example, pass a list to check init. 1SP
- [ ] Refactor the relevant checks and sco

[2022-09-18 13:56] TheSolY commented on #1984
DoD:
Object detection metrics average precision and average recall support averaging options macro / micro/ weighted.

Tasks:

- [ ] Implement macro and weighted macro 1 SP
- [ ] Implement micro 1 SP
- [ ] Tests 0.5 SP
- [ ] Update the Metrics Guide 0.5 SP

[2022-09-18 13:58] noamzbr opened #2018 "[FEAT] Add sklearn metrics into the dicts at scorers.py"

[2022-09-18 15:02] JKL98ISR commented on #1982
I think it is better to pass it in the run.
  1. we pass the dataset in the run and labels are connected to dataset
  2. a user will be able to pass the labels to the suite using the kwargs
  3. only need to add it to the context init, a bit faster and easier to access

[2022-09-18 15:04] noamzbr commented on #1942
Closed by https://github.com/deepchecks/deepchecks/issues/2013

[2022-09-18 15:04] #1942 closed

[2022-09-19 07:15] #2013 closed

[2022-09-19 08:48] Nadav-Barak commented on #1982
Agreed, will be passed in run

[2022-09-19 08:51] TheSolY opened #2022 "[FEAT]Improve KeywordFrequencyDrift check by using semantic embedding"
The check currently uses simple stemming and regex tools.
Counting together words with similar semantic meaning is likely to make the check result more meaningful in terms of catching topic drifts.
One option is to use a pre-trained Word2Vec model based on TF-IDF.
The main tasks are finding a pre-trained embedding model (check size, license etc.), and replacing the current processing with it.

[2022-09-19 09:01] TheSolY opened #2023 "[FEAT]Displaying stemmed words in NLP checks"
In the display of KeywordFrequencyDrift the words appear in their stemmed form which is less readable.
Transform the words to a readable form.
Will be relevant for future NLP checks as well.
Points to consider: what is the best grouped form? how others are doing it, for example in word clouds?
![image](https://user-images.githubusercontent.com/99395146/190983503-9a2f21f2-f123-4745-95b9-1b98bcb393c

[2022-09-19 09:01] TheSolY commented on #1964
Follow up issues:
embedding https://github.com/deepchecks/deepchecks/issues/2022
display https://github.com/deepchecks/deepchecks/issues/2023

[2022-09-19 10:18] TheSolY commented on #1964
NLTK lemmatization requires part of speech tagging.

[2022-09-19 11:28] #2018 closed

[2022-09-19 13:45] #1997 closed

[2022-09-19 18:46] #1964 closed

[2022-09-20 08:55] noamzbr opened #2027 "[FEAT] Add flag in suite run() controlling SingleDatasetCheck behavior"
**Is your feature request related to a problem? Please describe.**
Currently suite always runs SingleDatasetChecks on both train and test. For certain use cases this is not ideal.

**Describe the solution you'd like**
Add a flag in the suite run() controlling this. Default is to keep the status-quo and run on both datasets. Alternative would be running only on test.

[2022-09-20 09:00] noamzbr opened #2028 "[FEAT] Have SingleDatasetChecks in suite appear in tabs for train and test"
**Is your feature request related to a problem? Please describe.**
When running SingleDatasetChecks in a suite that receives both train & test, the check is run on both datasets and displays are printed one above the other.

**Describe the solution you'd like**
Have the results displayed in tabs one beside the other. Think what to do with WeakSegmentPerformance that already has tabs.

[2022-09-20 09:04] noamzbr opened #2029 "[FEAT] Disable running certain checks on train dataset"
**Is your feature request related to a problem? Please describe.**
Related to https://github.com/deepchecks/deepchecks/issues/2028 and https://github.com/deepchecks/deepchecks/issues/2027, some checks (such WeakSegmentPerformance) really don't make sense on the training dataset.

**Describe the solution you'd like**
Make it so that checks like it can't be run on the training data when run inside a

[2022-09-20 13:40] noamzbr opened #2030 "[FEAT] Support simpler IOB annotation for token classification"
**Is your feature request related to a problem? Please describe.**
In addition to the existing support for token classification with the `(class, start_span, end_span)` label annotation format, support the IOB format of `['ttoken1', 'token2'] ['class1', 'class2']` (which doesn't allow for mismatch of tokenization between the labels and the model predictions.

**Describe the solution you'd like**
E

[2022-09-21 07:58] Nadav-Barak opened #2031 "[BUG] binary classification with labels which are not 0,1"
**Describe the bug**
In this case the sklearn scorers will crush without appropriate massage to the user

**Expected behavior**
For it to work + explain how the pos label is selected in docs

Design how the solution should look like + implement.
Current problem - scorers are initialized without the data in a general manner so it will be hard to pass pos_label argument

[2022-09-21 11:14] shir22 opened #2034 "[FEAT] issue for testing add all_contributors"

[2022-09-21 11:15] shir22 commented on #2034
@all-contributors please add @ItayGabbay for code, doc

[2022-09-21 11:22] shir22 commented on #2034
@all-contributors please add @ItayGabbay for code, doc

[2022-09-21 14:32] shir22 commented on #2034
https://github.com/all-contributors please add @ItayGabbay for code, doc

[2022-09-21 15:15] shir22 opened #2037 "[FEAT] Add project maintainers to all-contributors"
Initial issue for adding maintainers (and will use the PR to update also the readme format...)
After which contributors will be added

[2022-09-21 16:01] shir22 commented on #2037
@all-contributors please add the following:
@ItayGabbay for idea, code, doc
@matanper for idea, code, doc
@JKL98ISR for idea, code, doc
@yromanyshyn for idea, code, doc
@noamzbr for research, code, doc
@nirhutnik for research, code, doc
@Nadav-Barak for research, code, doc
@TheSolY for research, code,doc

[2022-09-21 16:04] shir22 commented on #2037
https://github.com/all-contributors please add
@ItayGabbay for idea, code, doc
@matanper for idea, code, doc
@JKL98ISR for idea, code, doc
@yromanyshyn for idea, code, doc
@noamzbr for research, code, doc
@nirhutnik for research, code, doc
@Nadav-Barak for research, code, doc
@TheSolY for research, code,doc

[2022-09-21 16:05] shir22 commented on #2037
@all-contributors  please add
@ItayGabbay for idea, code, doc
@matanper for idea, code, doc
@JKL98ISR for idea, code, doc
@yromanyshyn for idea, code, doc
@noamzbr for research, code, doc
@nirhutnik for research, code, doc
@Nadav-Barak for research, code, doc
@TheSolY for research, code,doc

[2022-09-21 16:08] shir22 commented on #2037
@all-contributors please add @ItayGabbay for idea, code, doc

[2022-09-21 16:22] shir22 commented on #2037
@all-contributors please add @matanper for doc, idea, code

[2022-09-21 16:43] shir22 commented on #2037
@all-contributors please add @JKL98ISR for idea, code, doc

[2022-09-21 16:52] shir22 commented on #2037
@all-contirbutors please add @yromanyshyn for idea, code, doc
@all-contirbutors please add @noambzr for research, code, doc

[2022-09-21 16:53] shir22 commented on #2037
@all-contributors please add @yromanyshyn for idea, code, doc
@all-contributors please add @noambzr for research, code, doc

[2022-09-21 16:53] shir22 commented on #2037
@all-contributors please add @yromanyshyn for idea, code, doc

[2022-09-21 16:54] shir22 commented on #2037
@all-contributors please add @noambzr for research, code, doc

[2022-09-21 16:54] shir22 commented on #2037
@all-contributors please add @noamzbr for research, code, doc

[2022-09-21 16:58] shir22 commented on #2037
https://github.com/all-contributors please add @noamzbr for idea, research

[2022-09-21 16:58] shir22 commented on #2037
@all-contributors please add @noamzbr for idea, research

[2022-09-21 17:10] shir22 commented on #2037
@all-contributors add @nirhutnik for research, code, doc, ideas

[2022-09-21 17:11] shir22 commented on #2037
@all-contributors add @Nadav-Barak for research, code, doc, ideas

[2022-09-21 17:16] shir22 commented on #2037
@all-contributors add @TheSolY for research, code, doc, ideas

[2022-09-21 17:23] shir22 commented on #2037
@all-contributors please add @DanArlowski for code, infra

[2022-09-21 17:33] shir22 commented on #2037
@all-contributors please add @OrlyShmorly for design

[2022-09-21 17:34] shir22 commented on #2037
@all-contributors please add @benisraeldan for code

[2022-09-22 10:07] Nadav-Barak commented on #1852
In addition - add input validation for the

[2022-09-22 12:04] noamzbr opened #2053 "[FEAT] Make sure that can use deepchecks on classification task with no proba"
Need to make sure (and change docs & code to reflect and enable that) that can run deepchecks and do metrics like f1 / recall etc on classification tasks with static predictions but no static probas provided.

This include changing the task inference not to rely on the presence of predict_proba

[2022-09-22 12:10] noamzbr commented on #2031
Closed by #2050

[2022-09-22 12:10] #2031 closed

[2022-09-22 14:19] JKL98ISR opened #2054 "[FEAT] change model type heuristic - update to check the label column/dataset type instead of just proba"
**Is your feature request related to a problem? Please describe.**
Currently we decide if a model is a classification model if it has proba function attribute.

**Describe the solution you'd like**
I want the model type to check the label column/dataset type if the proba function doesn't exists

[2022-09-22 14:40] noamzbr commented on #2054
Duplicate of https://github.com/deepchecks/deepchecks/issues/2053

[2022-09-22 14:40] #2054 closed

[2022-09-22 15:58] noamzbr opened #2055 "[FEAT] Improve property calculation time"
**Is your feature request related to a problem? Please describe.**
Calculating properties is way slower compared to what it should be. It also should be faster for a single image, not only on a vectorized batch.

**Describe the solution you'd like**
Check options like
1. use cv2
2. use cython
3. Utilize concurrent loading of images with pytorch dataloader

[2022-09-28 07:35] noamzbr opened #2056 "[FEAT] Make class mechanism in NLP match the one in tabular & vision"
**Is your feature request related to a problem? Please describe.**
Following https://github.com/deepchecks/deepchecks/pull/2050, scorers receive the list of classes in the task from the context.
- In tabular, the context aggregates the class from: the .classes_ in the model, the labels in the data, the predicted labels OR the user supplied list of classes (passed to the Dataset constructor).
- In

[2022-09-28 09:18] noamzbr commented on #1981
Fixed by #2050

[2022-09-28 09:18] #1981 closed

[2022-09-28 17:57] noamzbr commented on #1742
Will be done in https://github.com/deepchecks/deepchecks/issues/2027

[2022-09-28 17:57] #1742 closed

[2022-09-29 05:45] shir22 commented on #2037
@all-contributors please add @shir22 for ideas, doc, talk

[2022-09-29 05:45] shir22 commented on #2037
@all-contributors please add @yaronzo1 for ideas, content

[2022-09-29 05:46] shir22 commented on #2037
@all-contributors please add @ptannor for ideas, content

[2022-09-29 06:06] shir22 commented on #2034
testing completed successfully, other contributors will be added with a different issue

[2022-09-29 06:06] #2034 closed

[2022-09-29 06:07] shir22 commented on #2037
last maintainers added in #2060
New issue will be opened to add contributors

[2022-09-29 06:07] #2037 closed

[2022-09-29 06:11] shir22 opened #2063 "[DEE-159] [FEAT] Add project contributors to readme with all-contributors"
Issue for adding the following contributors to readme:
avitzd - eventOrganizing, Video
DanBasson - doc, bug, example
Kishore-s-15 - code, doc, bug
Shaypal5 - data, example, userTesting
cemalgurpinar - doc, bug
daavoo - code
Tak - doc
julienschuermans - bug
nirbenz - code, idea
shivshankardayal - infra
RonItay - bug, code
BioGeek - bug, docs
idow09 - bug, example

<sub>[DEE-159](https://linear.app/

[2022-09-29 06:11] shir22 commented on #2063
@all-contributors please add @avitzd for eventOrganizing, Video

[2022-09-29 06:12] shir22 commented on #2063
@all-contributors please add @DanBasson for doc, bug, example

[2022-09-29 06:13] shir22 commented on #2063
@all-contributors please add Kishore-s-15 for code, doc, bug

[2022-09-29 06:13] shir22 commented on #2063
@all-contributors please add @Kishore-s-15 for code, doc, bug

[2022-09-29 06:13] shir22 commented on #2063
@all-contributors please add Shaypal5 for data, example, userTesting

[2022-09-29 06:14] shir22 commented on #2063
@all-contributors please add @cemalgurpinar for doc, bug

[2022-09-29 06:14] shir22 commented on #2063
@all-contributors please add daavoo for code

[2022-09-29 06:15] shir22 commented on #2063
@all-contributors please add @Tak for doc

[2022-09-29 08:03] shir22 commented on #2063
@all-contributors please add @avitzd for eventOrganizing, Video

[2022-09-29 08:19] shir22 commented on #2063
@all-contributors please add @ulienschuermans for bug

[2022-09-29 08:20] shir22 commented on #2063
@all-contributors please add @julienschuermans for bug

[2022-09-29 08:20] shir22 commented on #2063
@all-contributors please add nirbenz for code, idea

[2022-09-29 08:20] shir22 commented on #2063
@all-contributors please add shivshankardayal - infra

[2022-09-29 08:21] shir22 commented on #2063
@all-contributors please add @RonItay for bug, code

[2022-09-29 08:22] shir22 commented on #2063
@all-contributors please add @BioGeek for bug, docs

[2022-09-29 08:22] shir22 commented on #2063
@all-contributors please add @idow09 for bug, example

[2022-09-29 08:27] TheSolY opened #2078 "[FEAT] average_precision and average_recall micro averaging"
We currently have macro and weighted macro averaging, will be nice to have micro as well.
moved from https://github.com/deepchecks/deepchecks/issues/1984

[2022-09-29 08:29] TheSolY commented on #1984
Implement micro moved to https://github.com/deepchecks/deepchecks/issues/2078

[2022-09-29 08:54] TheSolY opened #2080 "Implement local tests to run before opening a PR"
probably a makefile
include:
codestyle-docstring
Pylint that matches the rules of the CICD

[2022-09-29 11:02] #2017 closed

[2022-09-30 14:20] naiborhujosua opened #2083 "[BUG]"
**Install package failed**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install deepchecks by  !pip install --upgrade  deepchecks
2 . ImportError: cannot import name 'single_dataset_integrity' from 'deepchecks.suites' (/opt/conda/lib/python3.7/site-packages/deepchecks/suites.py)

**Expected behavior**
the package must be installed but an error occurred

**Environment (please comple

[2022-10-02 07:52] Nadav-Barak commented on #2083
Hi @naiborhujosua, since the release of our [https://docs.deepchecks.com/dev/user-guide/vision/auto_quickstarts/plot_simple_classification_tutorial.html](vision package) the tabular functionalities can be found under deepchecks.tabular.XXX

[2022-10-02 07:52] #2083 closed

[2022-10-02 08:29] TheSolY commented on #2055
Implement the function calc_default_image properties to improve the runtime of the default properties.
Improvements to try:

- [ ] Shared calculations between properties for example rgb intensity
- [ ] Sample the pixels to reduce the calculations on large images, take rgb vs grayscale into consideration - 1SP
- [ ] Tensorize list comprehensions by resize and stack - 1SP
- [ ] lru_cache
- [ ] tests

[2022-10-02 11:36] #1984 closed

[2022-10-02 12:43] TheSolY commented on #2027
Need to do this for both vision and tabular

[2022-10-02 13:09] noamzbr commented on #2029
Consider if we really want to "quietly" make an exception of these checks, and if so propose a better mechanism

[2022-10-02 13:12] noamzbr commented on #1743
Consider how to treat tabular, vision and NLP differently

[2022-10-02 18:59] noamzbr commented on #1961
Closed by https://github.com/deepchecks/deepchecks/pull/2081

[2022-10-02 18:59] #1961 closed

[2022-10-03 07:43] Nadav-Barak commented on #1743
@noamzbr I think they should all have the same api for passing scorers

[2022-10-03 07:53] Nadav-Barak commented on #1931
Create a page titled supported tasks in which we explain in short the different task that we support and the prediction and label formats required for each one.
In addition add short explanation on label_map and batch_to_images (image format)

Also specify the ability to pass static predictions (BTW I think the method for doing this currently is hard @noamzbr @shir22 )

[2022-10-03 09:12] nirhutnik commented on #1970
This requires a change either in the dataset itself in figshare, or in the processing we do.
I think it's much easier fixing in the processing.

So -
* fix the processing - 0 SP
* Change tests and docs accordingly (make sure they still yield our wanted results) - 0.5 SP

[2022-10-03 12:33] TheSolY commented on #1852
Tasks:

- [ ] refactor vision SingleDatasetCheck 1 SP
- [ ] refactor tabular SingleDatasetCheck 1 SP
- [ ] add tests

[2022-10-03 12:34] TheSolY commented on #1852
On a personal note I think that it's very clear to pass the static predictions (and properties) only to train and this issue is unnecessary.

[2022-10-03 12:35] TheSolY commented on #2023
DoD:
KeywordFrequencyDrift display shows words in a non-stemmed manner.

[2022-10-03 12:55] TheSolY commented on #2028
DoD:
single dataset checks appear in tabs for train and test when running the suite.

Tasks:

- [ ] Change the display in the suite and make sure it works in different settings (notebook, html, etc.) - 1 SP
- [ ] Is it possible to do nested tubs for weak segment performance? if not- find another solution for the check -0.5 SP

[2022-10-03 13:13] TheSolY commented on #1379
The detection scorers are currently created by 2 classes:ObjectDetectionTPFpFn and AveragePrecisionRecall.  iou_thr is already a parameter to ObjectDetectionTPFpFn, need to add iou range parameter to AveragePrecisionRecall.

DoD:
The IoU threshold of the detection scorers is controlled without defining new callables or calling make_scorer.

Tasks:

- [ ] Implement the IoU range parameter in Averag

[2022-10-03 17:25] noamzbr opened #2090 "[TABULAR] Design a way to infer the correct predicted class from probas"
**Is your feature request related to a problem? Please describe.**
Currently in the tabular package predictions must be given / implemented, while predict_proba is optional. Theoretically (and done in practice in Vision) it's possible to get the predicted class from .argmax() on the proba. In tabular though, it's more complicated because classes don't have to be [0, .., n-1].

**Describe the solut

[2022-10-05 17:42] nirhutnik commented on #2056
1. Match structure to tabular - 2 SP
2. Design solution for multilabel and approve with Gabbay + Sol/Nadav - 1 SP
3. Implement - approx. 3 SP

[2022-10-09 08:26] #2053 closed

[2022-10-11 08:43] TheSolY commented on #1164
הללויה

On Thu, 16 Jun 2022 at 20:12 Noam Bressler ***@***.***> wrote:

[2022-10-12 09:54] TheSolY opened #2092 "Rename tabular Dataset attr label_type to task_type"
task_type is a more intuitive name.

[2022-10-13 10:49] TheSolY commented on #2023
I couldn't find an off the shelf way to do it, others use lemmatization instead of stemming so the tokens used in the algorithm are more readable to begin with.

[2022-10-13 11:14] #2027 closed

[2022-10-18 10:48] TheSolY opened #2095 "Improve access to Deepcheck vision Metrics"
1. Better import path: vision.metrics, currently at vision.metric_utils.scorers. Should be implemented as an init file with just the calls to the classes in the scorers the should point outwards.
2. Add "Deepcheck Metrics" section to the metrics guide with a usage example.

related to https://github.com/deepchecks/deepchecks/issues/1379

[2022-10-18 11:26] TheSolY commented on #1379
Following issue https://github.com/deepchecks/deepchecks/issues/2095

[2022-10-19 06:24] #1307 closed

[2022-10-19 11:00] TheSolY commented on #2095
Make sure that the metrics are json serializable

[2022-10-19 12:05] #2055 closed

[2022-10-20 17:22] #1379 closed

[2022-10-23 09:44] #1867 closed

[2022-10-23 13:12] TheSolY commented on #1970
Doesn't happen when divided to train and test

[2022-10-23 14:16] nirhutnik commented on #1912
@noamzbr Can you elaborate?
1. Why is this needed? What kind of properties come in a vector?
2. What did you mean regarding distance?
3. In general, task is unclear

[2022-10-23 14:20] nirhutnik commented on #1928
@JKL98ISR Can you elaborate?

Can you give an example? In your mind, there is not single dataset check anymore? Just checks that can either receive 1 dataset or 2?

[2022-10-23 14:44] #1970 closed

[2022-10-24 10:26] noamzbr opened #2105 "[BUG] Suite html results don't display plotly graphs properly for certain enviroments"
**Describe the bug**
The suite results are lacking graphs for and are rendered weirdly for certain envs

**To Reproduce**
Suite results that contains graphs

**Expected behavior**
result displayed as it was if viewed as native HTML

**Screenshots**
![image](https://user-images.githubusercontent.com/17730502/197505432-17dd1edd-2232-4b3a-bf9e-350b5e2743c7.png)
![image](https://user-images.githubuser

[2022-10-24 10:53] noamzbr commented on #1912
I agree this issue should wait for a proper solution to using embedding

[2022-10-25 06:11] Nadav-Barak opened #2106 "roadmap + proposal for new interface vision package"
Plan, research and come up with an improved suggestion for the user interface

- Full usability without the model object
- Try and get rid of Vision data or and least make it much easier to create
- Should work with tensor flow

[2022-10-25 06:14] Nadav-Barak commented on #2106
DoD:
arc talk on suggestion
finalize suggestion
create road map

[2022-10-25 09:51] TheSolY commented on #1889
IMO aspect ratio of the mask is irrelevant to semantic segmentation

[2022-10-25 09:55] TheSolY commented on #2095
Tasks:

- [ ] Add the relevant classes from vision.metric_utils.scorers to vision.metrics.__init__
- [ ] Add "Deepcheck Metrics" section to the metrics guide with a usage example.
- [ ] Make sure that the metrics are json serializable, if not, open an issue

[2022-10-26 09:26] Nadav-Barak opened #2108 "[FEAT] add model_classes argument to run"
In addition add the following properties:
Dataset
@property (observed_classes)
 all unique values in the label column + unique values in model.predict(data) **(this is a heavy calculation)**

Context
@property (task_type)
 return infer_task_type **(this is a heavy calculation)**

@property (observed_classes)  (**should replace context.classes**)
 return Union[train_observed, test_observed] if task

[2022-10-26 09:51] Nadav-Barak commented on #1982
Will be solved via https://github.com/deepchecks/deepchecks/issues/2108

[2022-10-26 09:51] #1982 closed

[2022-10-26 09:59] Nadav-Barak opened #2109 "[FEAT] Remove redundant stuff from dataset object"
Remove the classes_in_label_col property

Remove the label_classes argument (Depracation)

Will be replaced by https://github.com/deepchecks/deepchecks/issues/2108

[2022-10-26 10:01] Nadav-Barak commented on #2108
Also, display use of the add model_classes argument in Supported Model user guide

[2022-10-26 10:21] IngoStatworx opened #2110 "[BUG] feature_importance_timeout is hard coded and therefore does not work"
**Describe the bug**
Feature Importance can be time limited or even skipped, as per documentation:
https://docs.deepchecks.com/stable/user-guide/tabular/feature_importance.html#what-if-the-feature-importance-calculation-takes-too-long

[code]

The variable feature_importance_timeout is correctly passed to the context, however it is not passed in the MultivariateDrift run_logic:

https://github.com

[2022-10-26 11:31] #1743 closed

[2022-10-26 14:36] noamzbr commented on #2090
following up on our discussion, probably the solution here is to require the user to provide `classes` in cases when proba are supplied without a model or predictions.

[2022-10-27 13:52] yromanyshyn commented on #2105
@noamzbr

what env (collab, jupyter-notebook, kaggle) is used on screenshots?

provided requirements files do not contain `jupyter-server` nor `jupyterlab-server` so it is not classical jupyter or jupyter lab but I see `databricks-cli` package, so is that `databricks`?

[2022-10-27 14:58] TheSolY commented on #2023
![image](https://user-images.githubusercontent.com/99395146/198324865-9193c897-cb77-4684-a370-102900e195ae.png)
Looks better now

[2022-10-27 21:25] #1852 closed

[2022-10-30 07:24] noamzbr commented on #2023
Closed by https://github.com/deepchecks/deepchecks/pull/2114

[2022-10-30 07:24] #2023 closed

[2022-10-30 08:17] Yarden234 commented on #2105
@yromanyshyn The screenshot is simply from the downloaded HTML file of the suite.
And producing this results came from using VS-Code.
I can provide the code if it helps.

[2022-10-30 08:48] nirhutnik commented on #2030
### DoD:
NLP module works, by default, using the IOB annotation. It also supports and can receive the Bressler annotation.

### Background:
Check SingleDatasetPerformance already works with the IOB format, translated by the span_aligner.

### Inputs:
add input "format_type" to Dataset object in NLP in case the user wants to predefine?
add span_aligner inputs to Dataset and remove from SingleDatase

[2022-10-30 09:35] #1772 closed

[2022-10-30 09:56] Nadav-Barak commented on #2090
use cases are as follow:
If probas are provided one of the two must be:
user have provided model classes
same number of unique labels in label col as in proba vector length

relevant validation will be placed

[2022-10-30 10:12] TheSolY commented on #1945
The first suggested method - variance of Laplacian calculates details rather than sharpness, how cluttered or textured the picture is. A pictures with many textural details, for example a background of leaves in the jungle will return a higher score than a single object on a uniform background regardless of the actual sharpness.
Example for a textured image:
![image](https://user-images.githubuser

[2022-10-30 11:35] nirhutnik opened #2116 "Tokenization design - NLP"
### DoD:
An agreed design

### Background:
Currently, our TextData object receives only plain text. For IOB format, we need to know the original tokenization.

### Tasks:
Write alternatives. Research Huggingface Dataset / Tokenizer. - 1 SP
Discuss and decide on a solution - 1 SP

### Comments:
Options: each sample is a list of tokens? Receiving a delimeter? Receiving a Tokenizer object?

[2022-10-30 11:43] nirhutnik commented on #2056
Design changed a bit - now "classes" is an input received in the "run" function, and this supports multilabel by default.

[2022-10-30 11:43] noamzbr commented on #2116
Can look at https://huggingface.co/datasets/conll2003 for e.g. of a token classification dataset in HuggingFace

[2022-10-30 12:07] yromanyshyn commented on #2105
@Yarden234

if that is possible, yes, please

[2022-10-30 14:14] TheSolY commented on #1945
dataset with blurry and focused images https://www.kaggle.com/datasets/kwentar/blur-dataset?resource=download

[2022-10-30 19:30] #2108 closed

[2022-10-30 19:30] #2109 closed

[2022-10-30 20:36] matanper opened #2117 "[TEST] Fix all deprecation warnings in the tests and plot file"
https://github.com/deepchecks/deepchecks/actions/runs/3356543710/jobs/5561689737

Some of them come from 3rd libraries, others from our own deprecation warnings, for example `Dataset(df, label_type="classification_label")` instead of `Dataset(df, label_type="classification")`

[2022-11-01 13:06] rcwoolston opened #2122 "[FEAT] create a to_junit method on the check results and suite results"
**Is your feature request related to a problem? Please describe.**
As a model developer, it would be nice to have the conditions output a junit parsable output so that the model testing results can be ingested like regular code unit tests.

**Describe the solution you'd like**
Create a method similar to to_json that would output junit parsable results.

[code]

The output can have multiple test su

[2022-11-02 09:19] Yarden234 commented on #2105
@yromanyshyn
Hey I see now that any code produce that results (just a random x and y and random split), so my specific code doesn't really matter

[2022-11-02 11:32] TheSolY opened #2124 "[BUG] Deepchecks vision metrics are not json serializable"
following https://github.com/deepchecks/deepchecks/issues/2095
They should be

checked for the following:
ObjectDetectionAveragePrecision
ObjectDetectionTpFpFn
MeanDice
MeanIoU

[2022-11-02 11:32] TheSolY commented on #2095
issue to make the metrics json serializable https://github.com/deepchecks/deepchecks/issues/2124

[2022-11-03 16:15] noamzbr commented on #1945
Reopened as #2128 does not measure blurriness, rather "texture smoothness" or something like it

[2022-11-03 17:46] #2090 closed

[2022-11-04 11:34] bgalvao commented on #1290
+1 today I was looking for this

[2022-11-06 09:21] #2095 closed

[2022-11-06 09:40] matanper commented on #1290
Hey @bgalvao, we are not planning to work on this issue soon, but we'll be glad to get a contribution from you 😃
@yromanyshyn wrote most of our serialization logic and will be happy to assist and direct you in case you are interested

[2022-11-06 09:52] matanper commented on #2122
@rcwoolston if you are interested in going forward with this, tell us and we'll assign you this issue

[2022-11-06 12:16] rcwoolston commented on #2122
@matanper we are a Python shop and yes we use pre-computed predictions within the pipeline. For us, we didn't want to use the pytest example as you had to construct all of the checks with small wrappers rather then just use the output to create the junit structure and cut down on work/maintenance. Yeah, go ahead and assign it to me and I will create that Serializer.

[2022-11-06 12:28] matanper commented on #2122
Great :)

If you have any questions, feel free to ask here or in our slack community

[2022-11-07 09:46] osw282 opened #2131 "[FEAT] Add a return statement to the validate_format function from the DetectionData class"
**Is your feature request related to a problem? Please describe.**
The [validate_format](https://docs.deepchecks.com/stable/api/deepchecks.vision.html#deepchecks.vision.DetectionData.validate_format) function currently returns nothing and only prints a message indicating whether the test passed or failed. As a result, I can't use an if statement to check the test result.

**Describe the solution y

[2022-11-07 11:14] bgalvao commented on #1290
@matanper I am interested yes :)

**_On plot figures_**
I am not super knowledgeable about what is accepted in GitHub's Markdown and GitLab's Markdown. The general gist of it is that javascript cannot be run - so no live Plotly figures can be there.

My difficulty on this point is understanding how to set the three parameters of `SuiteResult.save_as_html` - `as_widget`, `requirejs` and `connected`

[2022-11-07 12:03] matanper commented on #1290
Great, I'm assigning you this issue 😄

I think that you won't need to use the `save_as_html` but instead create a completely new [serializer](https://github.com/deepchecks/deepchecks/blob/main/deepchecks/core/serialization/abc.py) for markdown output.

@yromanyshyn do you have any input or suggestions?

[2022-11-07 12:58] yromanyshyn commented on #1290
@bgalvao

you can try something like this in order to transform HTML output into markdown

[code]

but I must say that it looks like pandoc has some troubles with HTML tables, markdown output with them`s does not look as expected/

in general, if you plan to show check/suite results within GitHub as part of CD/CD action then I think you probably do not need markdown, just use plain HTML, GitHub is

[2022-11-09 07:23] bgalvao commented on #1290
I put the result in a github gist [here](https://gist.github.com/bgalvao/2a9d59f29328e3096d6e4087e1bdb43c) for everyone to see how it behaves with GitHub.

`<img>` tags where the image is encoded directly into the src attribute are not being rendered.

[2022-11-09 09:52] matanper commented on #1290
Looks good, do you want to open a pull request which adds this as a function on suite result (`result.as_markdown()`)?

[2022-11-09 12:08] #1721 closed

[2022-11-09 13:44] bgalvao commented on #1290
I do :) Give me some time though.
It's a shame the output is not being rendered as intended though :(

[2022-11-09 14:08] yromanyshyn commented on #1290
@bgalvao

it looks, like the same is true for markdown/?

if that is true if it is not possible to embed an image directly into the output then you need to upload an image somewhere to make it possible to display it

[2022-11-09 14:22] matanper commented on #1290
it seems like it isn't possible and won't be possible...
https://github.com/github/markup/issues/270

[2022-11-09 15:50] Nadav-Barak commented on #2106
https://docs.google.com/spreadsheets/d/1weNysz2ckyh_3B9t8itPLltIaQlG07BkgY1vX6UjcBU/edit#gid=0

[2022-11-09 15:50] #2106 closed

[2022-11-10 07:51] qiaohaoforever opened #2134 "[FEAT] Internationalization (i18n) and Localization (l10n)"
How to translate the application, we need Localization (l10n)  result. I can provide help with the Chinese version.

[2022-11-10 08:05] Nadav-Barak opened #2135 "[FEAT] update sampling mechanism to support iterators based dynamic loaders"
We will stop working with complex sampler on top of pytorch. Will provide agnosticism that will allow easy integration to all batch iterators under the same mechanism

In the future:  image paths will be provided via the new API
Now: image paths will not be provided, but everything will still work

Implement alternative shuffling mechanism (next slide)
Update the following check to not rely on the

[2022-11-10 08:10] Nadav-Barak commented on #2135
Steps:
1. Reverify the suggested changes and finalize design - 2 SP
2. Change the relevant checks to not rely on old index based sampler - 3 SP
3. Update the sampler + test vision suites on iterator based DataLoader - 3 SP
4. Deprecate static predictions mechanism + update monitoring to not use it - 2 SP
5. Docs?

[2022-11-10 12:48] bgalvao commented on #1290
Alright, in GitLab CI

[code]

When you use the `--publish` and [`--publish-native`](https://cml.dev/doc/ref/comment#--publish-native) flags on the cml command, cml will handle uploading the file (`suite_result.html` in this case) to the Git platform you're using. The result is something like this:

![suite_result](https://user-images.githubusercontent.com/17158288/201095182-84e831f3-af65-4350-aed

[2022-11-10 16:46] bgalvao commented on #1290
@matanper the attachment that is hyperlinked displays all the graphics, even with live plotly plots :) but the user has to download it first by clicking on it.

[2022-11-11 15:16] yromanyshyn commented on #2105
@Yarden234

sorry I did not notice initially that you use `deepchecks===0.8.0`
currently I cannot understand why this happens with this particular version
but this bug is not present in the latest `deepchecks` version,
please try to update, it should help

[2022-11-13 09:12] nirhutnik opened #2137 "[DEE-165] NLP Prediction drift"
### DoD:
Working check for both Text and Token Classification tasks

### Inputs:
The usual drift check inputs

### Outputs:
* Dictionary of drift per property
* Graphs of drift per property

### Logic:
Like prediction drift in vision, should be on properties:
* For Text Classification, property is the class itself
* For Token Classification, properties may include frequency of labels per sample, p

[2022-11-14 12:39] matanper commented on #1290
@bgalvao Awesome 🚀

Is the purpose of this to have a preview without the need to click on the file?

Anyway, sound like it will be a great fit in our documentation under "Integrations" in a new CML page (under `docs/source/user-guide/integrations`). Feel free to ping as if you have questions about the docs

[2022-11-14 14:21] #2110 closed

[2022-11-14 15:00] yromanyshyn commented on #2028
@TheSolY

that is not the correct way to do that, we need to make changes within suite serializers

[2022-11-14 16:08] #1929 closed

[2022-11-14 17:16] matanper opened #2141 "[BUG] CategoryMismatchTrainTest fails when new category is None"
[code]

raised exception:
[code]

[2022-11-15 09:29] #2105 closed

[2022-11-15 15:20] matanper opened #2142 "[DOC] Create glossary of general ML terms"
Add in our docs a new page of glossary with ML terms like "L2 Weighted Score", "Accuracy", "Average Recall", etc

[2022-11-15 20:26] #2141 closed

[2022-11-16 09:57] matanper opened #2144 "[BUG] Static properties fail for batch with single sample"
[code]

[2022-11-16 11:33] #2144 closed, assigned to matanper

[2022-11-17 07:44] bgalvao commented on #1290
Yes. :)

@matanper, I finally posted a PR. I would like some tips on how to make my code compliant with the codebase. :)

[2022-11-17 08:36] matanper commented on #1290
Hey @bgalvao,

We have a make command `make pylint` which checks the basics of our code style, apart from that we will comment on anything specific in the PR 😃

[2022-11-17 14:24] JKL98ISR opened #2150 "[BUG] check output is duplicated in the docs"
in all check docs the output is duplicated
![Screen Shot 2022-11-17 at 16 19 00](https://user-images.githubusercontent.com/26321553/202471735-4f3d155f-83b1-458d-a68c-a074192ed10f.png)

for some reason checks in the quickstart are ok

[2022-11-18 04:08] arvkevi opened #2151 "[BUG] RocReport plots roc curve of negative class in binary classification"
**Describe the bug**
For binary classification, the `RocReport` class can plot the roc curve of the negative class. I'm a new user, so I could be misinterpreting something.

**To Reproduce**
[code]

`result1` and `result2` generate the same image, where it appears to be the roc curve of the negative class.
![result1](https://user-images.githubusercontent.com/9151717/202612593-31018c71-cba7-4b4c-a4

[2022-11-18 14:17] daavoo commented on #1290
Jumping in from https://discord.com/channels/485586884165107732/563406153334128681/1043161204052459580

If you:

-  serialize the encoded images to some local path
- use an image tag in the markdown pointing to that local path
- Add the [`--publish`](https://cml.dev/doc/ref/comment#--publish) flag to `cml comment`

CML will take care of uploading the images to a public hosting (`https://asset.cml.

[2022-11-20 08:08] noamzbr opened #2153 "Make the identifier warning more informative"
**Is your feature request related to a problem? Please describe.**
The warning is raised when the index column matches the dataset column. It is intended as a reminder that your index may not be your real index in this case. The warning is:

`Index of provided "data" dataframe completely matches "sample_ids" array, are you sure that "samples_ids" array is correct and contains correct identifiers?`

[2022-11-20 14:09] Nadav-Barak commented on #2151
Hi @arvkevi, Thanks for reporting the bug! It was fixed and will be available in the upcoming release :)

[2022-11-21 07:25] #2151 closed

[2022-11-21 09:30] noamzbr opened #2158 "[FEAT] HSV properties"
Add to the vision package properties calculating HSV, on top of (/ instead?) of RGB

## DoD:
1. Implement HSV
2. Discuss if to remove RGB
3. ? Remove RGB

[2022-11-21 11:56] arvkevi commented on #2151
Thank you, @Nadav-Barak!

[2022-11-21 14:56] noamzbr opened #2160 "[BUG] docstring for aggregation method talks about drift in unrelated checks"
**Describe the bug**
Have a look for example at
https://docs.deepchecks.com/stable/api/generated/deepchecks.tabular.checks.data_integrity.PercentOfNulls.html#percentofnulls

Here the docstring for aggregation_method refers to drift, but the check isn't drift.
Can be found also in  CategoryMismatchTrainTest

[2022-11-22 14:35] #1780 closed

[2022-11-22 18:49] noamzbr opened #2161 "[FEAT] Add tests for python 3.10 & 3.11"
Python 3.10 has been out for a while and 3.11 is out. Deepchecks should work there as well(:

[2022-11-22 22:56] casperdcl commented on #1290
Minor note: `--publish` is `true` by default, so not explicitly required.

[2022-11-23 09:31] Nadav-Barak commented on #2135
Checks to modify: Image Property Outliers, Label Property Outliers, New Labels,

Will not work it new API after step 1: Similar Image Leakage, Robustness Report

[2022-11-24 11:51] yromanyshyn commented on #2028
@noamzbr

how to be with condition tables navigation links?

a problem is that with `ipywidgets` library we cannot
achieve a behavior in which click on the link opens a corresponding tab

hopefully, this video will demonstrate what I mean

https://user-images.githubusercontent.com/71635444/203776518-01f7f0f1-279b-4a08-b7bb-d8ae04f4a2ee.mp4

code to try by yourself

[code]

the best/closest behavio

[2022-11-24 11:51] #2131 closed

[2022-11-24 14:03] noamzbr commented on #2028
Hi @yromanyshyn, given the constraint I think the behavior in the second video is as good as it gets. Let's do it.

[2022-11-27 08:13] noamzbr opened #2168 "Document the structure of the return value of checks in their docstring"
**Is your feature request related to a problem? Please describe.**
Check parameters are well documented in the declaration of each check, but the structure of the return is either not documented for vision checks, or documented in run_logic() (which is inaccessible by users) for tabular checks

**Describe the solution you'd like**
Document the structure of the return value right below the paramete

[2022-11-27 08:40] Nadav-Barak opened #2169 "[FEAT] revisit segmentation and see what works and what missing after API refactor is completed"
1. can we draw segmentation on images?
2. what checks does it work in?
3. what check does it not work? label property outlier

[2022-11-27 11:27] nirhutnik opened #2170 "Develop measurements"

[2022-11-27 11:32] nirhutnik opened #2171 "Classification - Finish"

[2022-11-27 12:52] nirhutnik opened #2172 "TF/IDF drift fixes"
### DoD:
Fix TF/IDF drift so will work for monitoring (hopefully as a property, or some sort of asset.

### Background:
The issue is that the TF/IDF is calculated per sample, but in relation to the other samples. Currently, it's fitted on the train+test. Should be fitted on train. but with an ability to still score words that were not in the train.
This way, the data can be passed as "properties",

[2022-11-27 14:02] noamzbr opened #2173 "[BUG] Windows tests timeout"
**Describe the bug**
Sometimes windows tests take forever and then terminate on timeout

**To Reproduce**
Can't but see https://github.com/deepchecks/deepchecks/actions/runs/3557195650/jobs/5975044265

**Expected behavior**
Test should take around the same time unix tests take

[2022-11-27 14:51] Nadav-Barak opened #2174 "[FEAT] update check to work without index to img mechanism"

[2022-11-27 14:55] Nadav-Barak opened #2175 "[FEAT] vision api refactor - make everything work with pytorch dataloader"
all check tests should pass except Robustness and similar image leakage

[2022-11-28 07:12] #2174 closed

[2022-11-28 08:42] Nadav-Barak commented on #2175
Implement based on presentation (see final slide)

https://docs.google.com/presentation/d/1EY8pSjI0y9q_j8VfL14zFQIsasuN18L0MZTkL4c81QE/edit#slide=id.g19a68ff7bb1_1_5

[2022-11-28 09:38] Nadav-Barak opened #2176 "[DEE-172] [FEAT] move label map argument from VisionData to context"
Label map is only used for display purposes, as such it should be an argument to the run method
(similar to the tabular model classes)

<sub>[DEE-172](https://linear.app/deepchecks/issue/DEE-172/[feat]-move-label-map-argument-from-visiondata-to-context)</sub>

[2022-11-28 14:14] nirhutnik commented on #2116
Merged into another issue

[2022-11-28 14:14] #2116 closed

[2022-11-29 11:18] matanper commented on #1290
@bgalvao what do you think about @daavoo and @casperdcl suggestions?

[2022-11-29 13:24] casperdcl commented on #1290
https://github.com/astanin/python-tabulate might help :)

[2022-11-30 09:11] Nadav-Barak opened #2177 "[FEAT] replace label map with model classes"
Consider whether to replace the label map argument (dict) with model_classes (list).
Advantage is compatability with tabular and nlp

Related to https://github.com/deepchecks/deepchecks/issues/2176

[2022-11-30 10:08] Nadav-Barak opened #2179 "[FEAT] redesign the predictions and labels format for the different computer vision tasks"
Stuff to consider:
1. you must provide class_id as int and provide a label map, but what if user wants to provide class_name directly?
2. Consider also passing a model classes argument (list) instead of a label_map (dict)
3. For classification, user must provide probas, but what if he have only the predicted class?
4. For object detection, user must always provide confidence, what if he does not h

[2022-11-30 10:11] #2177 closed